[2016-01-13 20:54] keimlink commented on #563
Thanks for uploading the sdist!

Did you know you can use the test PyPI server to do test releases?

[2016-01-13 22:03] carltongibson commented on #563
No I didn't, but it's worked previously... As I say, I'll investigate for the next release.

Thanks for reporting the issue!

[2016-01-18 18:40] andreyfedoseev opened #566 "The README file is misleading in regard to supported Python/Django versions"
The README files says that:

But the actual requirements are Python 2.7+ and Django 1.9+ (based on `tox.ini`).

[2016-01-18 21:54] carltongibson commented on #566
Yep. Dead right. A PR there would be AWESOME! Thanks!

[2016-01-18 22:12] kevin-brown commented on #566
Based on `.travis.yml`, the requirements are Python 2.7/Python 3.2+ and Django 1.8+

[2016-01-19 12:19] #566 closed

[2016-01-26 14:20] #549 closed

[2016-01-28 15:06] darkowic commented on #505
Yes, I found the same problem. I dont understand why someone added there if is select section without
input-group-addon

[2016-01-28 18:36] carltongibson commented on #505
A PR would go well here.

[2016-01-28 18:46] darkowic commented on #505
I was thinking about this but I don't understand idea behind spiting it in select and input tags

[link to file](https://github.com/maraujop/django-crispy-forms/blob/dev/crispy_forms/templates/bootstrap3/layout/prepended_appended_text.html)

[2016-01-28 18:54] carltongibson commented on #505
It may just be an accident of history...

Indeed it looks like you don't really want to be on that branch at all:

[2016-02-08 10:10] pritstift opened #567 "Problems with djangos new DurationField"
I have a DurationField ind a model. When rendereing the template (of course using crispy_forms), i get an error regarding the durationfield.

[Gist File](https://gist.github.com/pritstift/6b199040759cf37e2a2b#file-gistfile1-txt)

Is crispy forms not ready yet for django's new durationfield ?

[2016-02-09 09:10] carltongibson commented on #567
Hmmm. Not sure. Can you create a minimal test case to try and isolate the issue?

[2016-02-11 03:10] Laodicean opened #568 "Commit c994f71 causes ValueError"
Running crispy 1.6.0 (which isn't tagged or released on git by the way) with django 1.8.8 causes a value error to arise when rendering layouts. I also use django-cms.

https://dpaste.de/5cFQ

I haven't had time to take a good look into this. At a glance it looks like the context object is being given something that it can't flatten -- whether this is happening in crispy, I'm unsure.

[2016-02-11 12:06] Laodicean commented on #568
Upon further inspection it looks like this is an issue caused by djangocms.

[2016-02-11 12:06] #568 closed

[2016-02-15 08:42] carltongibson commented on #568
https://github.com/maraujop/django-crispy-forms/releases/tag/1.6.0

[2016-02-17 23:45] mgarc opened #569 "Is there any docs about how to use label_class and field_class in the as_crispy_field filter?"
I can't find in the docs an example of how to use `label_class` or `field_class` in the `|as_crispy_field` filter.

[2016-02-18 08:20] carltongibson commented on #569
Not sure. It's not really an _Issue_ per se. Your best bet is a more complete question to [Stack Overflow](http://stackoverflow.com) or the [Django Users Mailing list](https://groups.google.com/forum/#!forum/django-users).

[2016-02-18 08:20] #569 closed

[2016-02-24 12:30] specialcircumstances opened #570 "Integrating Bootstrap 3 Datepicker v4"
Hi,

I'm trying to use Bootstrap 3 Datepicker v4 (http://eonasdan.github.io/bootstrap-datetimepicker/).
Using bootstrap3/django1.9/crispy-forms

I found django-bootstrap3-datetimepicker (https://github.com/nkunihiko/django-bootstrap3-datetimepicker).

I'm just really not sure how to use this in crispy forms  - would really appreciate a steer, am fairly new to django but my python is "ok".
I'm unsu

[2016-02-24 13:38] specialcircumstances commented on #570
Sorry - should have posted this to Stack Overflow. Doing that now.
http://stackoverflow.com/questions/35603712/integrating-bootstrap-3-datepicker-v4-with-crispy-forms

[2016-02-24 13:38] #570 closed

[2016-02-24 13:50] carltongibson commented on #570
👍

[2016-02-29 11:17] carltongibson commented on #567
This isn't actionable as is. If more info comes to light we can reopen.

[2016-02-29 11:17] #567 closed

[2016-02-29 14:49] #544 closed

[2016-03-01 16:44] DebVortex commented on #337
Has anything been done, regarding this Issue? Is there a fix, yet?

[2016-03-02 12:12] carltongibson commented on #337
@DebVortex Not yet. PRs welcome.

[2016-03-08 15:04] eneepo opened #571 "Forcing a field to be rendered with default django form in layout"
While I was working with layouts in crispy forms I found out there is no way to force a form to be rendered with default django form(you need this when you are using a custom plugin). I know that I can use {{ form.my_field }} to render my field but I'm looking for a solution in form class. I've already asked it in stackoverflow but apparently nobody had a solution. If it's not implemented it would

[2016-03-09 08:34] carltongibson commented on #571
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2016-03-09 08:34] #571 closed

[2016-03-10 01:40] shlomozippel commented on #327
I agree with your points and ended up creating a few helpers and exposing them globally to templates via a template context processor.

[2016-03-10 17:52] #327 closed, assigned to nobody

[2016-03-15 07:14] kevinpostal commented on #328
+1

[2016-03-15 08:32] carltongibson commented on #328
@kevinpostal Github have just introduced the reactions button — it's the smiley face with the + next to it — so you don't need to add the +1s. Thanks.

In general, tested, documented PRs welcome.

[2016-03-17 07:21] shulcsm commented on #543
Can you look into this https://github.com/maraujop/django-crispy-forms/commit/a9477f115261be41a07f8aed34aa63b97db4cbb0#commitcomment-16729911 please? You hardcoded a class that should be resolved from form_style or something.  Now we have a broken horizontal form by default(you have to supply label and field width classes) to get something working. Vertical form is impossible. IMHO default should

[2016-03-17 08:07] carltongibson commented on #543
@shulcsm Do you want to open a proper issue with a full description and suggested fix? A PR would be even better!

[2016-03-17 13:22] shulcsm opened #573 "With current bootstrap4 implementation "vertical" form is impossbile."
This commit https://github.com/maraujop/django-crispy-forms/commit/a9477f115261be41a07f8aed34aa63b97db4cbb0 hardcodes classnames that from my perspective are soling edgecase.
There are multiple issues with this:

1. Broken defaults. Just enabling bootstrap4 templatepack will produce broken forms. Since for horizontal form to work classes for label and field width are expected.
2. Shoudn't "vertica

[2016-03-17 13:24] shulcsm commented on #543
Sure, sorry. #573

[2016-03-17 13:38] carltongibson commented on #573
@shulcsm — feel free to give it a shot!

@zoidbergwill — Can you comment?

[2016-03-18 12:18] zoidbergwill commented on #573
Hi @shulcsm

I'd be happy to help you fix the problem, or fix it myself.

I was worried about the issue when originally working on this, since I was focusing on trying to make it easier for people to migrate a project from Bootstrap 3 to 4.

I'm gonna make sure that I can reproduce what you're talking about, then I'll see if I can fix it.

1.I don't think these forms are broken by default. An inli

[2016-03-18 13:23] shulcsm commented on #573
Sorry for not providing an example. I got your example working, but the issue appears only if you use bootstrap with flexbox enabled. Can't seem to find official build with flexbox enabled, i guess you can use this https://cask.scotch.io/bootstrap-4.0-flex.css

[2016-03-18 13:32] zoidbergwill commented on #573
Wow, that looks terrible.

Thanks. I will have a look at fixing it this evening.

[2016-03-18 13:33] carltongibson commented on #573
So is this an error in the markup or in Bootstrap?

[2016-03-18 13:35] zoidbergwill commented on #573
I think it's us, because of Flexbox and how it affects `.row`s, but I'm not actually sure.

I will try a pure Bootstrap example with the changes between Flexbox being enabled and not, tonight.

[2016-03-18 13:40] carltongibson commented on #573
@zoidbergwill OK. Great. Thanks.

Looking at the [example on the bootstrap docs](http://v4-alpha.getbootstrap.com/components/forms/#form-groups), the `row` class is not present.

[2016-03-18 14:16] carltongibson commented on #573
But, of course, in the [Using the grid](http://v4-alpha.getbootstrap.com/components/forms/#using-the-grid) section, there it is...

It looks as if the `row` class should only be added **if** the custom widths on label and input are provided.

@zoidbergwill Have a look. See what you think. It might be we need to refactor to support both use-cases...

[2016-03-18 14:28] zoidbergwill commented on #573
Yeah, I added `.row`s to make migrating from Bootstrap 3 to 4 easier, but now I see it was definitely a mistake to do.

I think that's the issue.

@carltongibson That sounds like a possible solution. Will take a look.

[2016-03-21 08:17] zoidbergwill commented on #573
I've managed to re-create it with `https://cask.scotch.io/bootstrap-4.0-flex.css`.

Reverting that commit I mentioned fixes the default form, but breaks the horizontal form for flexbox. I'm working on a fix.

[2016-03-21 08:48] shulcsm commented on #573
How about introduction of new form style("horizontal") here https://github.com/maraujop/django-crispy-forms/blob/dev/crispy_forms/helper.py#L254 and using that? That would also make possible adding default column/label width classes.

[2016-03-21 08:51] zoidbergwill commented on #573
Here is what I've done so far with "vertical" and inline/horizontal forms:

Without flexbox:

![image](https://cloud.githubusercontent.com/assets/2572493/13913744/4300109c-ef52-11e5-8553-43385c77dfa8.png)

With flexbox:

![image](https://cloud.githubusercontent.com/assets/2572493/13913752/5460d740-ef52-11e5-9681-89d904aaa1df.png)

This way adds classes without people having to add them themselves,

[2016-03-21 09:27] shulcsm commented on #573
Seems good, thanks.

[2016-03-22 06:39] zoidbergwill commented on #573
The alignment of the symbols when using flexbox for the prepdended/appended fields looks weird. Is that expected?

[2016-03-23 07:23] shulcsm commented on #573
That seems to be issue with current alpha, fixed in dev. https://github.com/twbs/bootstrap/issues/19044

[2016-03-23 12:54] shulcsm commented on #573
Are we just waiting for merge? I disovered another issue(not related to flexbox)  that this fixes.  `.row` is adding negative margin to fields making them wider than form container.

[2016-03-23 13:00] carltongibson commented on #573
Yeah. I'm basically happy but want to think it over one more time.

Good news if it fixes other things!

In general I'm expecting the Bootstrap 4 templates to have some issues since they're new and have never been used in action.  Any issues you come across: open a ticket.

[2016-03-23 13:35] zoidbergwill commented on #573
I'd love a cleaner solution, but I couldn't think of one. :P

[2016-03-31 07:25] carltongibson commented on #434
Dead right. But I'm going to close this as an active issue. If a PR turns up it'll be favourably reviewed.

[2016-03-31 07:25] #434 closed

[2016-03-31 18:22] #573 closed

[2016-04-04 04:46] musicformellons opened #578 "cancelled"

[2016-04-06 07:00] #578 closed

[2016-04-06 07:01] #534 closed

[2016-04-14 08:30] carltongibson commented on #429
Closed by #555 — Any more pop up, open a new ticket.

[2016-04-14 08:30] #429 closed

[2016-04-15 20:06] lskillen commented on #436
This sounds like it would be solved by #579 - The problem is that the crispy form tag processing builds up an individual context based (mostly) on attributes received from the helper in addition to a couple of selection ones, such as csrf_token.  The PR adds implicit context passing, so `{{ request }}` would work if that was already present on the context.

[2016-04-18 11:54] #436 closed

[2016-04-18 13:14] scuml opened #580 "Button Group Support"
Searched online and through the source and cannot find how one can implement button groups?  Is this possible in 1.6.0?  I'd be interested in coding a patch to support this feature if not.

http://v4-alpha.getbootstrap.com/components/buttons/#checkbox-and-radio-buttons
http://foundation.zurb.com/sites/docs/v/5.5.3/components/button_groups.html

[2016-04-22 14:46] JoshAddington opened #584 "table_inline_formset.html bootstrap templates don't call form.media"
The `{{form.media}}` tag is only in the `display_form.html` and `uni_form.html` templates. The tag is not in `table_inline_formset.html`, and neither of the templates that have the tag are called in the `table_inline_formset.html` template.

Is there a reason that the `form.media` tag is not in the `table_inline_formset.html` template, or was that simply an oversight?

[2016-04-23 18:23] carltongibson commented on #584
Probably just that it's a bit of on edge-case.

If you need this I'd say override the template in your own project.

It's not something I want to take on as an active issue. If you fancy putting together a documented, tested pull request that covers your use-case, that would be welcome.

[2016-04-23 18:23] #584 closed

[2016-05-03 13:46] dennyb87 opened #585 "Multifield render fail with custom template pack (string formatting error)"
Hello!
I am getting this error when try to render a Multifield with a custom template pack (django 1.8 - crispy 1.6):

The issue come from this [line of code](https://github.com/maraujop/django-crispy-forms/blob/dev/crispy_forms/layout.py#L320) in crispy_forms/layout.py:
`field_template = self.field_template % template_pack`

It should probably use an hack like [get_template_name](https://github.c

[2016-05-03 14:09] carltongibson commented on #585
You need to explain the issue a bit better...

[2016-05-06 04:18] naveensingh opened #586 "render() got an unexpected keyword argument 'template_pack'"
Hi there,

I recently upgraded one of my projects to Django 1.9.5 as a part of it, I upgraded Crispy forms to latest version 1.6.0 and since then all my crispy forms through an error.

`render() got an unexpected keyword argument 'template_pack'`

I downgraded crispy forms to a version below but that didn't seem to help.

To fix the issue I edited the **crispy_forms/utils.py line 73** which had th

[2016-05-06 06:51] carltongibson commented on #586
@naveensingh Thanks for the report. A good place to start would be to run the test suite and see what breaks with the change. (A PR would have the tests run automatically.)

[2016-05-06 08:31] naveensingh commented on #586
@carltongibson Sure thanks i'll try and run the test.

[2016-05-09 15:18] scuml commented on #580
There are two different patterns at play here.  The standard button group can be implemented with the following code:
[code]

The checkbox/radio button group (http://v4-alpha.getbootstrap.com/components/buttons/#checkbox-and-radio-buttons) requires a more significant coding change to the inline radio select code:
- `class="btn-group" data-toggle="buttons"` needs to be added to a div after the labe

[2016-05-09 15:18] #580 closed

[2016-05-09 15:36] scuml commented on #580
Branch diff if anyone is interested.

[2016-05-09 20:26] Numerico opened #587 "broken compatibility with django 1.4.22 in release 1.6.0"
Django-crispy-forms **1.6.0** makes use of _RequestContext_'s **flatten** method, for instance [here](https://github.com/maraujop/django-crispy-forms/blob/1.6.0/crispy_forms/layout.py#L332).
But that method was only introduced in django>**1.7** (specifically in [this commit](https://github.com/django/django/commit/8274fa60f88607eb0e81908f049c391455956dd8)).
This causes an _AttributeError_ exceptio

[2016-05-09 20:41] kevin-brown commented on #587
Quoting from the README, this doesn't appear to be the case

[2016-05-09 20:49] Numerico commented on #587
Ok, thank you Kevin.
So, what version should I use for an app using django 1.4?
(It's not an option to upgrade the full app yet...)

On 09/05/16 14:41, Kevin Brown wrote:

[2016-05-09 20:56] Numerico commented on #587
OK, it would be 1.5.2 in case anyone else wonders the same...

[2016-05-09 20:56] #587 closed

[2016-05-10 15:30] carltongibson commented on #580
@scuml Thanks for the input here. It's interesting. Not sure what to say re an issue or not. Maybe one for the docs or a blog post or something.

[2016-05-16 19:59] fjbardelli opened #589 "{% crispy form %}"
tengo el siguiente codigo

**`Form.py`**

[code]

**View.py**

`class ConfirmacionUserView(FormView):
    template_name = "dashboard/confirmacionuser.html"
    form_class = ConfirmacionUserForm
    success_url = "/"

[code]

**Template**

`{% extends "index/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Confirmación de Usuario{% endblock %}
{% block extra_head

[2016-05-17 11:04] egbutter opened #590 "Span wrapper?"
Hi @maraujop are you open to including a Span wrapper in the layouts? I'm happy to submit a PR with this. I needed to wrap an input in a Span for typeahead.js support (http://www.runningcoder.org/jquerytypeahead/documentation/). For now I'm just using your HTML element, but Span is probably the "right" way to do this .. Thanks!

[2016-05-17 12:04] carltongibson commented on #590
@egbutter This is something you'd use your own `Layout` for, or override the templates. It's not something that we'd add to the core template packs.

(I'm going to close this but happy to discuss further if you care to elaborate.)

[2016-05-17 12:04] #590 closed

[2016-05-17 12:15] egbutter commented on #590
Sure thing. I'm already using Layout, but there is no Span wrapper provided (as there is a Div). The reason that's not ideal is that I need to wrap an input in a span. Right now I'm accomplishing this with two HTML elements (one starting to span, the second one closing it). The mark-up I'm trying to replicate is in the previous link I sent. Thanks again,

[2016-05-17 12:18] carltongibson commented on #590
Ah, right. You're suggesting adding a Span LayoutObject subclass? That might be looking at yes. Do you have such a class already?

[2016-05-17 13:25] egbutter commented on #590
That's right, a Span LayoutObject subclass. I have not done it yet, but it looks trivial to implement, 99% of the code would be identical to Div. I could knock this and some tests out quickly, this morning.

Probably worthy of a second issue#, but how do you guys feel about a templates/common/ dir, with some of the reused templates, especially those in templates/common/layout? There are some repea

[2016-05-17 13:28] carltongibson commented on #590
Put together a PR. Happy to review.

I'd happily consider a simple method to allow template packs to fallback to a shared template if they did not provide one.

[2016-05-17 13:30] egbutter commented on #590
Ok, thank you. I'll include this issue# in the PR.

[2016-05-17 13:30] egbutter commented on #590
*Actually looks like I won't get to this until tonight ..

[2016-05-17 13:31] carltongibson commented on #590
No rush. :-)

[2016-05-19 21:13] krtek4 commented on #398
I can confirm using the Layout object still leads to huge slowdown on Django 1.9 with Cryspi forms 1.6

[2016-05-21 12:37] MichaelPavlov opened #592 "Broken styles when using FormHelper"
I'm using crispy-forms and django-filter. And I'm trying to customize my form. Here is a snippet:

[code]

Can you guys hint me why the arrow button in select control shrinks like this? I guess it somehow has to do with FormHelper

![selection_008](https://cloud.githubusercontent.com/assets/17099703/15448388/748287b6-1f69-11e6-9a31-9d462fe6eabf.png)

[2016-05-26 13:18] anhtran opened #594 "Do you guys have a plan to add MDL?"
I think Material Design Lite (https://getmdl.io) from Google is popular enough to be supported by the package.

[2016-05-26 13:41] carltongibson commented on #594
If somebody comes up with a template pack I'm happy to link to it from the docs — but I don't want to support extra template packs in crispy forms itself.

[2016-05-26 13:41] #594 closed

[2016-06-03 12:57] naglalakk opened #596 "Keep getting this weird KeyError on production server"
Hi. I'm using django-crispy-forms for all of my forms. Right now I have a subscription club running and some customers are getting errors. The weird thing is that this error only comes up randomly. When tailing the logs this is what I get:

    File "/home/donna/grill/askriftartilbod/venv/lib/python3.4/site-packages/crispy_forms/utils.py", line 74, in render_field
    field_instance = form.fields[

[2016-06-03 13:06] carltongibson commented on #596
Hi @naglalakk

This isn't much to go on I'm afraid.

You need to try and narrow it down to the smallest possible test case that shows the issue.

This will make it hard.

At this point you've got a bit of detective work to do before it's actionable.

I'm going to close this for now. If you can narrow it down to something concrete and reproducible I'm happy to re-open.

Sorry I can't be more help.

[2016-06-03 13:06] #596 closed

[2016-06-06 01:24] catonalake commented on #377
Hi - was wondering if this issue was every resolved?  I'm running into a similar issue with a site i created on PythonAnywhere.  What is bizarre is that it DOES work on another site i have.. so i am guessing it is some kind of odd setting.. I've checked my virtual environments have all the items installed...

thanks in advance for your insights here.

[2016-06-06 07:00] carltongibson commented on #377
Open a shell and make sure you can import Crispy Forms without error.

[code]

It's a project config error. Exactly what I'm afraid I can't say. :-(

I'm going to close this as it's not an issue with Crispy Forms _per se_. (I'm happy to accept PRs on the docs if you find what's wrong and it's a vagueness there. I'm happy to look at reproducible issues. etc)

[2016-06-06 07:00] #377 closed

[2016-06-06 10:51] naglalakk commented on #596
@carltongibson No worries, I understand. I will monitor my logs to see if this occurs again and report back if I figure out what is causing this. Thank you for the reply 👍

[2016-06-06 11:05] catonalake commented on #377
Hi Carlton,

thanks for the reply. :)

As you guessed, this import didn't work - my questions is more related to
the sys.path - and this:

Should the sys.path that i shared and highlighted in red be the issue?
 e.g. i  noticed that python3 dist-packages is listed but i am using
python3.4

['/var/lib/python3.4/site-packages', '/var/www', '/usr/lib/python3.4',
'/usr/lib/python3.4/plat-x86_64-linux-g

[2016-06-06 11:20] catonalake commented on #377
for more context:

here is my pip list:
(mydevvenv) 11:13 ~/GitProjects/dav-test (master)$ pip freeze
-f /usr/share/pip-wheels
click==6.6
decorator==4.0.9
Django==1.9.6
django-crispy-forms==1.6.0
django-filter==0.13.0
django-registration-redux==1.4
geocoder==1.15.0
mysqlclient==1.3.7
ratelim==0.1.6
requests==2.10.0
six==1.10.0

here is my installed apps and crispy settings in settings.py:
INSTALLE

[2016-06-06 11:47] carltongibson commented on #377
Are you sure you activated you virtualenv?

I'm expecting to see an entry like this in `sys.path`:

      /path/to/mydevvenv/lib/python3.4/site-packages'

It doesn't seem to be there.

[2016-06-07 05:33] francisjervis commented on #389
This actually produced unexpected results for me - the HTML in the popover_html function was shown as the text in the tooltip! The expected behavior was in fact achieved by just adding the a string for "title" to the field's line in the form's helper method, like so:

    Field('firstNameField', type="text", css_class = "form-control", title = 'Enter your first name'),

[2016-06-14 13:27] francose opened #598 "ImportError: No module named 'crispy_forms'"
I have tried to install Django-crispy-forms and i got  ImportError: No module named 'crispy_forms' message as soon as I ran the server.
I am able to see it in my site-packages and whenever i say pip freeze while virtualenv activated i am able to see it.

What exactly causes this ?

 File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/__init__.py", line 126, in import_mo

[2016-06-16 08:10] pypetey commented on #598
Did you install it inside/outside virtualenv?

[2016-06-16 09:43] carltongibson commented on #598
See the discussion on #377 for pointers — but, short of more to go on, it has to be something to do with your path settings. (Did you activate the virtualenv? etc)

[2016-06-16 09:43] #598 closed

[2016-06-16 13:45] francose commented on #598
@carltongibson Thank you very much, it has something to do with PATHs definitely.

[2016-06-27 06:56] alexeykuz commented on #585
@carltongibson you cant pass custom field_template to MultField like:
[code]
there is hack for `template` exists, but not for `field_template`
https://github.com/maraujop/django-crispy-forms/blob/dev/crispy_forms/layout.py#L13
that probably should be applied also on `field_template`
https://github.com/maraujop/django-crispy-forms/blob/dev/crispy_forms/layout.py#L320

[2016-06-30 04:51] francose commented on #598
@carltongibson  When i type pip freeze on my terminal in the "virtualenv" (activated), i keep getting my system's pip dependencies  which are not related to my "virtualenv" dependencies?Somebody told me that this is a path settings issue?
I use "pyhton3.5" but when i pip $PATH shows my systems "pyhton2.7"

please help.

[2016-06-30 15:06] gtrman opened #602 "CSS class get *appended* instead of set"
At this point https://github.com/maraujop/django-crispy-forms/blob/dev/crispy_forms/layout.py#L185 css_classes get _appended_, which is a bit awkward. It took me some time to figure out where that btn-primary kept coming from. Better change it to explicitly set value.

[2016-07-08 22:03] SalahAdDin commented on #589
Tenés que pasar el formulario dentro del contexto de la vista, para eso siempre mejor usar un cbv.
Ah, acá toca hablar en inglés creo.

[2016-07-08 22:12] SalahAdDin opened #604 "Button submit doesn't pass in the form signal post"
Hi guys, i have the next but:
I have a submit button with a name:

[code]

And in the view i have to workflow that depends of name button:

[code]

But when i click in the button i have other performance that isn't expected. Investigating deeper in the html request i found this:
![problemacrispyforms](https://cloud.githubusercontent.com/assets/5034215/16702906/c84a358e-452e-11e6-8b78-7cff732de088.

[2016-07-10 11:34] michaelkuty commented on #526
Same error for me after upgrading to 1.4 +

    'Field' object has no attribute '_active_originally_included'

    /srv/leonardo/sites/leonardo/local/lib/python2.7/site-packages/crispy_forms/bootstrap.py in open_target_group_for_form
            This is either the first group with errors or the first group
            in the container, unless that first group was originally set to
            acti

[2016-07-11 07:25] carltongibson commented on #526
OK. PRs welcome.

[2016-07-21 06:22] iTaybb commented on #224
Would like to have this fixed.

[2016-07-25 20:03] sbrand83 opened #605 "Crispy filter does not include form media after 1.6.0 release"
The crispy filter does not include a form's media anymore since release 1.6.0.  This appears to be a bug as in the previous release, 1.5.2, the crispy filter when applied to a form or formset's context variable would include the form's media when rendered.

**In the template**

[code]

**Form class**

[code]

The date field uses a widget that requires some javaScript and CSS to work correctly.  Th

[2016-08-02 10:04] RatanShreshtha opened #606 "I want to make mdl template packs for django-crispy-forms."
Material Design Lite lets you add a Material Design look and feel to your websites. I want to add mdl templates for django-crispy-forms.

How can I do that and is it possible that crispy forms will also have options for mdl along with bootstrap, bootstrap3, foundation and uni-form.

[2016-08-02 13:10] carltongibson commented on #606
Hiya,

I'm happy to link to any template packs from the docs, but I don't want to accept any more template packs as part of the core package.

Create your pack. Put it online (GitHub?) and open a PR linking to it from the docs. That's it. :-)

I'm going to close this as an issue.

[2016-08-02 13:10] #606 closed

[2016-08-12 00:17] quanghuy147 opened #608 "Install Django-crispy-forms for Heroku"
Hi, could anyone help me to install Django-crispy-forms  for Heroku? I have just installed Django-crispy-forms  for my local git version , then I push to Heroku , I got pushing error. I try to put Django-crispy-forms  in requirements.txt like this django-crispy-forms==1.6.0 but still failed.

Thank you for your help!

[2016-08-13 00:15] quanghuy147 commented on #608
I found the solution thanks to the help of Heroku support. I should have added the line "django-crispy-forms==1.6.0 " to the file requirements.txt manually. Instead, run this command :  pip freeze > requirements.txt. And then add , commit and push the code to Heroku, everything works just fine :)

[2016-08-13 09:21] #608 closed

[2016-08-15 06:56] rfj001 commented on #398
Using django's cached template loader helps speed things up immensely.

Use this code use the cached template loader.
[code]

Without caching even without a Layout object crispy forms seems to take forever to render forms with many fields or formsets with many forms. By using the loader I brought a formset with 8 forms of 3 fields each from 10s rendering time down to 500ms on subsequent loads.

[2016-08-15 07:18] carltongibson commented on #398
It's worthing looking at the FAQ, which discusses this too. http://django-crispy-forms.readthedocs.io/en/latest/faq.html?highlight=cache#how-fast-is-django-crispy-forms

I'm going to close this as I don't think it's an issue per se. (Happy to reconsider if enlightened suggestions arise.)

[2016-08-15 07:18] #398 closed

[2016-08-16 20:48] quanghuy147 opened #609 "Navigate among tabs"
Hi,
Could you please show me the way to add Next and Previous button to navigate in the tabs with crispy-forms? Here is my code :

[code]

Thank you!

[2016-08-16 23:17] quanghuy147 commented on #609
I found the solution , please take a look and feel free to suggest another way. Thank you !

[code]

[2016-08-19 13:32] 000paradox000 opened #610 "HTML 5 attribute required is included in FileField and is not necessary when is already a file in the field"
![chrome](https://cloud.githubusercontent.com/assets/2762494/17811258/6e262f3e-65e7-11e6-859a-8a580bb39f0d.png)
![ff](https://cloud.githubusercontent.com/assets/2762494/17811259/6e2aca76-65e7-11e6-96a3-2bc233c9039b.png)

[2016-08-19 13:43] hheimbuerger opened #611 "Writing dynamic (form-agnostic) layout objects"
I've found the following line in [templatetags/crispy_forms_tags.py#L132](https://github.com/maraujop/django-crispy-forms/blob/dev/crispy_forms/templatetags/crispy_forms_tags.py#L132):

[code]

Shouldn't that be as follows instead?

[code]

The reason is that right now, the truthyness check is based on the `__len__` methods implemented by `LayoutObject` (thereby False if it has no fields) and `For

[2016-08-26 16:38] pydanny opened #613 "Problems with Bootstrap 4 formatting hack in helper.FormHelper"
In [Cookiecutter Django](https://github.com/pydanny/cookiecutter-django) we've discovered that when using Bootstrap 4, there is a bit of code in Crispy Forms which is causing us a lot of problems. This code is caused us serious problems with all our forms:

[code]

Our issues with the above approach:

1. Fragile: Hardcoding like this assumes Bootstrap 4's API doesn't change (it does)
2. Unforgivin

[2016-08-27 07:31] carltongibson commented on #613
Yep. OK. On a currently mission to get Django Filter down to Inbox Zero then another pass at Crispy Forms is next on my list.

There are a couple of Django 1.10 related items in `master` already so I'm looking to do a small release _soon_.

Do you have a specific fix in mind?

[2016-08-27 20:50] pydanny commented on #613
Here's what I would do:

1. Provide some way to override the behavior in that code snippet. Perhaps allow setting of an attribute on the FormHelper() class so you could have: `if using_grid_layout or not self.using_grid_layout:`
2. Document the heck out of whatever override you do

[2016-08-28 07:21] carltongibson commented on #613
OK.

Presumably the branch here was just added to mirror the existing (long time) code for the uniform and bootstrap 3 template packs.

First question is whether the code here would be OK if corrected — I.e. does this just come up because Bootstrap 4 hasn't settled yet, still being in development — or is there something about Bootstrap 4 that means it requires a different approach entirely.

This

[2016-08-28 08:20] zoidbergwill commented on #613
Thanks for all the input, @pydanny.

This support was added when Bootstrap 4 was still quite early alpha, and it was added to fix [a specific issue](https://github.com/maraujop/django-crispy-forms/issues/573). There was a fair amount of discussion around trying to find a better solution.

While Bootstrap 4 is alpha, I think it's hard for a library to perfectly support it. Though I understand your

[2016-08-28 16:20] pydanny commented on #613
@zoidbergwill, the problem we had is that the `row` attribute made it so that input fields and their label did not line up. It's impossible to override this with the current Crispy Form design, hence why I suggested an override. As to our hacky fix: https://github.com/pydanny/cookiecutter-django/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/%7B%7Bcookiecutter.project_slug%7D%7D/static/js/proje

[2016-08-28 16:23] oscarcarlsson opened #614 "Add tabindex attribute"
I would like to have a tabindex attribute that is automatically incremented (beginning with 1) according to the placement in Layout. That would simplify using the keyboard to navigate through the form at hand.

It would also be cool if I could specify what the starting index would be.

[2016-08-29 10:47] spapas commented on #396
Hello, sorry for returning to this issue after almost two years but it bit me once again and I lost a lot of time researching it (because I'd forgotten completely about it). In any case, I've tried using Tabs with django-crispy-forms 1.6.0 and django 1.10 and still no luck :(

So, after some research I had to resort to the solution I posted above (https://github.com/maraujop/django-crispy-forms/is

[2016-09-03 13:55] codepython opened #619 "how to run the tests?"
thanks.

[2016-09-03 14:20] codepython commented on #619
_pytest.config.ConftestImportFailure: (local('/Users/git/python/django-crispy-forms/crispy_forms/tests/conftest.py'), (<class 'ImportError'>, ImportError("No module named 'django'",), <traceback object at 0x103309a88>))

[2016-09-07 08:22] belugame commented on #586
@naveensingh I'm facing the same problem after going to crispy-forms 1.6 from 1.4 on Django 1.8. Did you remain with 1.6?

Someone else also ran into the error here: https://github.com/sshwsfc/xadmin/issues/301

[2016-09-08 12:49] tutuca opened #620 "Bootstrap 4 support."
There is some pressure to release the fourth version of Bootstrap [1].

Are there plans to update crispy forms template to match?
Is there some current effort ongoing?

[1]http://blog.getbootstrap.com/2016/09/05/bootstrap-4-alpha-4/

[2016-09-08 13:23] zoidbergwill commented on #613
So I've finally had a chance to look at this. Sorry for taking so long.

The issue is this part in the [migration guide](https://raw.githubusercontent.com/twbs/bootstrap/v4-dev/docs/migration.md) from Bootstrap 4:

I think I need to revert the commit of mine, so we don't need people to add hacks like that.

I don't know what the best solution is to fix this, but I guess we're gonna need to include

[2016-09-08 18:24] carltongibson commented on #613
OK. Awesome.

I think adjusting so it's right and then adding a note to the Change Log so people know how to update is the best approach.

(Bootstrap 4 support is beta at least as long as Bootstrap 4 is, and probably until we've had some feedback from real world usage to go with that too.)

[2016-09-09 19:17] zoidbergwill commented on #613
So adding a `wrapper_class` to each field for a horizontal form is how people are gonna need to get horizontal forms working like [this](https://github.com/zoidbergwill/crispy-test-project/commit/65827192c6e25bc74b45d590a2500b6270ac4eed).

Not sure if we should document it somewhere?

[2016-09-14 11:24] yunti commented on #613
Presumably you could set `wrapper_class` at the helper level rather than at every field in layout to keep things DRY?

[2016-09-14 20:08] carltongibson opened #622 "Add William Martin Stewart as Co-Maintainer"
@zoidbergwill has been a constant presence since I took-on supporting crispy-forms. Not least he's responsible for the Bootstrap 4 support.

I'd like to add him as maintainer. He deserves it.

@zoidbergwill: Would you be keen? It would be good to have you. It would be nice to clean up the remaining issues/PRs, modernise the docs and so on. What do you say? 🙂

@maraujop: If @zoidbergwill is keen, c

[2016-09-15 05:38] zoidbergwill commented on #622
@carltongibson Awesome. Thank you.

Definitely. 🙏. Would love to help wherever I can.

[2016-09-15 06:34] zoidbergwill commented on #620
It is supported in the [latest version](https://github.com/maraujop/django-crispy-forms/blob/dev/CHANGELOG.md#changelog-for-django-crispy-forms), it just isn't mentioned in the docs much, if at all.

[2016-09-15 06:35] zoidbergwill commented on #619
How are you running the tests?

Are you using `make test`?

[2016-09-15 06:42] zoidbergwill commented on #602
What about making your own custom CSS class that sets the different field_classes?

There are definitely cases where both appending and setting would be useful.

[2016-09-15 06:46] zoidbergwill commented on #613
The issue is it's a field level wrapper class, not form level. Unless we supported overriding the default field wrapper class at form level.

[2016-09-15 07:05] J20S opened #623 "Validation on tabbed forms with required fields"
Hi,

When we have a tabbed form with all fields required and we try to submit form with all empty fields except for current tab, then the validation for hidden fields (the fields not displayed under current tab) doesn't work properly as we get the following Jquery error in the console:
`An invalid form control with name='field_two' is not focusable.`
The ideal outcome would be the tab with empty f

[2016-09-15 07:30] maraujop commented on #622
Hi both,

All I can say is that I totally trust your opinion on this Carlton and I'm more than happy to add William as a maintainer of crispy-forms. Thanks both for all your incredible work 👏

I agree that this project should move to an organization, I should have probably moved this long time ago. I've learnt a lot about how not to maintain an open source project and burnout with it. I'm currentl

[2016-09-15 07:32] carltongibson commented on #622
Sounds great! Me neither... 😱

[2016-09-15 07:33] carltongibson commented on #622
@maraujop — I'd ask that you definitely stay in the Org. I think we're OK 90% of the time but your knowledge of the project is too important to loose.

[2016-09-15 07:38] gtrman commented on #602
Really don't know how to respond to this. It _feels_ like "make your own, this is how we do it". Still, remains that its is an undocumented "feature", and in my eyes unwanted. If you'd use the value as a fallback value, I'd have no problem with it.

[2016-09-15 08:55] carltongibson commented on #622
@maraujop Awesome! Thanks for setting us up. 👍

[2016-09-15 08:55] #622 closed

[2016-09-15 08:56] maraujop commented on #622
Ok,

So we are now officially an organization and I'm really happy with it. Welcome aboard @zoidbergwill , enjoy the open source ride :)

Cheers,
Miguel

[2016-09-15 09:02] zoidbergwill commented on #622
Awesome, thank you, both. 🙏

[2016-09-15 09:02] zoidbergwill commented on #602
So `field_classes` isn't used in as many places as I thought, so having it documented that they are the defaults for the different template packs, but overridden with `css_classes` makes sense, but then maybe we should change the name of that `arg` to `field_classes` too.

You're welcome to submit a PR.

[2016-09-15 09:06] zoidbergwill commented on #622
All we need now is a pretty organisation logo. 😋

[2016-09-15 09:07] zoidbergwill commented on #623
The simplest solution would be separate views and forms for each tab.

[2016-09-15 09:16] carltongibson commented on #620
With #621 incoming, I think we can close this. (Docs can always be improved but at least it will be mentioned.)

[2016-09-15 09:16] #620 closed

[2016-09-16 05:37] ZzAntares opened #624 "Labels in radio buttons are clashing with other labels."
Hi, I'm having this rendering error in a django form:

![screen shot 2016-09-16 at 00 05 02](https://cloud.githubusercontent.com/assets/3653680/18576172/c4443d2a-7ba4-11e6-8d9c-f40dcc9f6e1a.png)

This error is in 1.5.2 and above, with 1.5.1 the form looks good:

![screen shot 2016-09-16 at 00 31 38](https://cloud.githubusercontent.com/assets/3653680/18576199/f8e271f0-7ba4-11e6-86ee-cecae43af80e.pn

[2016-09-16 15:02] zoidbergwill opened #625 "Bring in @zoidbergwill's crispy_form_test project."
Done: https://github.com/django-crispy-forms/crispy-test-project

[2016-09-16 15:02] zoidbergwill opened #626 "Document all official and third party template packs (Maybe similar projects too like [django-semanticui-form](https://github.com/peterbe/dj"

[2016-09-16 15:02] zoidbergwill opened #627 "Document creating template packs more fully (Maybe with a cookiecutter template for creating a third party pack)"

[2016-09-16 15:02] zoidbergwill opened #628 "Extract existing template packs"

[2016-09-16 15:02] zoidbergwill opened #629 "@zoidbergwill How does this sound to you?"

[2016-09-16 15:03] zoidbergwill commented on #629
Now it looks like I'm talking to myself. 😋

@carltongibson All of this sounds great to me.

I think using issues for project management is the only way to keep getting e-mails and stuff. :/

Since I got no e-mails about the project or card mentions. :/

[2016-09-16 15:03] #625 closed

[2016-09-16 15:05] zoidbergwill commented on #619
Hi @codepython

This is mentioned in the docs [here](https://github.com/django-crispy-forms/django-crispy-forms/blob/dev/docs/contributing.rst), so I'm closing this issue unless those instructions aren't working.

Thanks.

[2016-09-16 15:05] #619 closed

[2016-09-16 15:09] carltongibson commented on #629
OK. Great.

No rush on anything but heading towards:

1. Less open issues/PRs
2. Extracting Template Packs
3. Better docs.

(Not much more to say — I'm going to close this as non-actionable 😀)

[2016-09-16 15:09] #629 closed

[2016-09-16 15:12] zoidbergwill commented on #629
Sounds great to me. Better docs and less open issues both sound great, and will be easier with extracted template packs too.

[2016-09-16 15:15] zoidbergwill commented on #611
@hheimbuerger Would happily approve a PR for this, sounds like the current behaviour is unintended behaviour to me, so it should keep backwards compatibility too.

[2016-09-16 15:16] zoidbergwill commented on #614
I think supporting this as an optional arg would be awesome.

[2016-09-16 15:20] zoidbergwill commented on #609
I don't see anything in the docs/repo, but this is something we should probably support. Will look into it.

[2016-09-16 23:48] durdenk commented on #604
If your post request is an ajax request, that doesn't pass button values by default. Its an javascript issue.

[2016-09-18 13:25] #526 closed

[2016-09-18 13:27] slinkymanbyday opened #631 "autocomplete="off" not being set"
In version 1.6.0, Django 1.10.1

[code]

results in HTML which looks like:
[code]

expected:
[code]

[2016-09-20 00:01] rrauenza opened #632 "<p> inside a <label> (not allowed) is in bootstrap3 templates"
I'm validating my html for my website and I've found a case where crispy is emitting something technically invalid (this is output from my html5 validator):

[code]

![image](https://cloud.githubusercontent.com/assets/1376251/18652713/7c31bc0a-7e89-11e6-94cb-be4b55e3906d.png)

I'm having a hard time searching through the bootstrap3 crispy templates and finding exactly where it is happening ...

CR

[2016-09-20 06:53] carltongibson commented on #632
@rrauenza Thanks for the report. If you can track down the exact point of error that would be great.

[2016-09-20 16:26] rrauenza commented on #632
Changing it to

[code]

...does seem to work, and I would argue renders better as well.  It is left justified now more consistently with other help text.

[2016-09-20 16:36] rrauenza commented on #632
https://github.com/django-crispy-forms/django-crispy-forms/pull/633

[2016-09-20 16:45] rrauenza commented on #632
Is there any chance of getting this pulled into a 1.6.1?

[2016-09-20 17:06] #632 closed

[2016-09-20 17:08] zoidbergwill commented on #632
Thanks @rrauenza

@carltongibson mentioned [this morning](https://github.com/django-crispy-forms/django-crispy-forms/pull/607#issuecomment-248216871) that'll be releasing a new version soon.

[2016-09-20 17:16] rrauenza commented on #632
Thanks!! -- I just found I can do that in requirements.txt as well and am just pointing to a revision on my fork for now.

I see you guys are also working on a test framework -- in case you want to validate your fragments, I've been investigating various html5 validators and narrowed down my choices either to https://html5.validator.nu/, which either can be run from a jar (slow, but simple, has op

[2016-09-20 19:08] #613 closed

[2016-09-20 20:14] zoidbergwill commented on #631
Strange, I'm getting the expected output with latest `dev` branch and Django 1.10.

[2016-09-20 20:23] zoidbergwill commented on #624
Hi @ZzAntares

Thanks for the bug report and useful code for reproducing the issue.

Unfortunately I'm unable to reproduce the issue on 1.5.2:

![image](https://cloud.githubusercontent.com/assets/2572493/18687387/268a14ee-7f80-11e6-8377-a6b7f0e3b129.png)

Could you provide the two versions of outputted HTML for that section so we can see what's different?

Which template pack is it, by the way? Ju

[2016-09-20 23:52] rrauenza commented on #632
Oh, nevermind -- validator.nu doesn't do fragments.  Could have sworn it did..

[2016-09-22 16:27] gsvaldes opened #634 "Bootstrap3 help text template does not set display-inline if help_text_inline"
In `crispy_forms/templates/bootstrap3/layout/help_text.html`
the css class is not set to help-inline when help_text_inline is True
[code]

However, this is the case in the Bootstrap 2 help_text template
`crispy_forms/templates/bootstrap/layout/help_text.html`
[code]
I believe that the Bootstrap3 help_text template should match the one for Bootstrap 2.

[2016-09-23 08:44] slinkymanbyday commented on #631
Just realised this was due to the following code:

[code]

so the widget attrs was overwriting the layout object.. I have converted to only using layout objects.

[2016-09-23 08:44] #631 closed

[2016-09-27 13:33] zoidbergwill commented on #634
Hi @gsvaldes

Thanks for the report.

`help-inline` doesn't exist in Bootstrap 3 and [and their migration guide](https://getbootstrap.com/migration/#dropped) recommends using help-block.

[2016-09-28 03:03] RoboAndie opened #636 "Bootstrap 4 horizontal forms button is slightly off the line"
I was checking out the fix for issue #613 with the row class being applied on all form-groups in Bootstrap 4 templates. So far it looks good, but I've found one small issue. In horizontal forms, the submit button is slightly out of line - it should line up with the input fields, but it's a little off. It looks like the wrapper_class is not being applied to the form-group div that's wrapping the bu

[2016-09-28 06:37] carltongibson commented on #636
Hi @RoboAndie — Thanks for the report!

Could you possibly post:

* a screenshot
* The actual generated HTML
* The expected HTML

That would make the next step a lot easier/quicker. Thanks!

[2016-09-28 20:16] kevin-brown commented on #563
Are you sure the wheel is being generated for Python 3, or that it is generated as a universal wheel?

Just noticed this today when reviewing our wheel usage on one of my projects.

[2016-09-30 00:41] RoboAndie commented on #636
Absolutely!
Here's the screenshot:
<img width="983" alt="screen shot 2016-09-29 at 7 33 24 pm" src="https://cloud.githubusercontent.com/assets/1588659/18976931/b07d455c-867b-11e6-8333-2963eaf30828.png">

It's slight, but the "Save" button is just a little bit out of line - it should be lined up with the text boxes.

Here's the actual HTML:
[code]

All is okay, except for that last `<div class="for

[2016-09-30 15:11] ataylor32 commented on #268
This is still an issue for me. I tried version 1.6.0 and also the dev branch.

[2016-10-02 19:25] zoidbergwill commented on #636
Thanks for your report, @RoboAndie

I'm gonna look into it.

[2016-10-02 20:09] #634 closed

[2016-10-04 01:31] RoboAndie commented on #636
Okay, this is working for me, thanks!

It would be helpful if you could add the class to inputs, too. I'll keep watching for updates. 👍

Thanks again!

[2016-10-07 02:18] ryanwilsonperkin commented on #627
Hey @zoidbergwill I'm reading through the docs now in preparation of building a custom template pack. Let me know if there's any specific feedback you're looking for on this front, or if you have any questions.

[2016-10-07 10:43] zoidbergwill commented on #627
@ryanwilsonperkin Would love to hear about all your experiences, things that are painful, etc.

We can talk on Gitter or something else, if that's easier.

Current concerns of mine are:

- Whether replacing just HTML templates are enough for very different frameworks from Boostrap/Uni_form, and testing them.

- Anywhere we can improve what will become the core package, like perhaps
  - making the

[2016-10-09 20:29] tomedelliott opened #640 "Bootstrap InlineFields do not use wrapper_class"
* Package version: 1.6.0
* Django version:1.9.9
* Python version: 3.5.2

### Description:

The bootstrap InlineField does not add supplied wrapper_class to surrounding div, this can be very useful for sizing inputs.

- Example Django Crispy Form:
[code]
- Actual HTML generated:
[code]
- Exepcted HTML
[code]

[2016-10-11 14:56] ryanwilsonperkin commented on #627
Thanks @zoidbergwill, happy to join you on gitter.
Began work on this over the weekend, first thing that caught me off guard was perhaps a discrepancy in the docs:

I started by copying the entire `uni_form` template directory into my own `TEMPLATE_DIRS` without renaming or changing anything. I adjusted my settings to load this template pack and started modifying templates but found that templates

[2016-10-11 14:59] ryanwilsonperkin commented on #627
The last thing I was stuck on before stopping for the night was how to customize inputs with minimal effort. I'd like every `<input>` element to have a 'foobar' css class and assumed I could do this by adding the class to `baseinput.html`, but that template doesn't seem to be loaded.

Any thoughts?

[2016-10-16 22:51] J20S commented on #144
+1 for any updates?

[2016-10-17 09:40] #563 closed

[2016-10-18 10:58] tomedelliott commented on #640
Closing as pull request has been merged.

[2016-10-18 10:58] #640 closed

[2016-10-23 11:06] fladi commented on #580
I need this regularly, can we get this merged somehow?

[2016-10-23 16:36] zoidbergwill commented on #580
It'd be awesome to get some tests and docs on that branch, but if you're willing to make a PR for that branch, that'd be awesome, and I'll have a look when I can.

[2016-10-27 21:05] tomedelliott opened #646 "Add a way to pass context data to overridden template"
Hello,

Currently there is no way to send context data to a overridden template.

For instance if you wanted to add a icon to a button. It would be nice to do something like this in your helper:

[code]

where icon-button.html looks like:

[code]

I don't think adding support for this would be too difficult, adding it to BaseInput could look like this (the only lines I've added have "template_cont

[2016-10-29 21:23] koopg opened #647 "guys check this out"
http://stackoverflow.com/questions/40323795/strange-behavior-when-using-crispy-forms-in-template

can anyone please tell me why is it happening

[2016-10-29 21:32] koopg commented on #647
when using
I get my form display as i wanted and it have to be commented
else
I am getting duplicate forms and submit button wont work ?

[2016-11-03 09:28] pilgrim2go commented on #586
I follow the doc
```https://ana-balica.github.io/2014/11/04/the-tale-of-dry-with-django-crispy-forms/```
and got the same issue

[2016-11-07 08:16] zoidbergwill commented on #586
It's strange that this isn't covered by the tests.

Would any of you be willing to add tests and the fix @naveensingh suggested?

[2016-11-09 10:27] rightx2 opened #648 "Is it possible to add extra HTML element inside of Field?"
I posted a question in `stackoverflow`(http://stackoverflow.com/q/40502494/3595632).

I wonder whether it is possible.

Thanks.

[2016-11-09 18:14] AmmsA opened #649 "Button with a dropdown."
### Description:
This is more of a question, just wondering if it's possible to do it in crispy form or if I need to make a custom widget.

In bootstrap4 (maybe bootstrap3), you can have a button with a drop down. See [here](http://v4-alpha.getbootstrap.com/components/input-group/#buttons-with-dropdowns).

Can I do an `IntegerField` that uses this input? I want to allow the user to put in his inpu

[2016-11-10 00:12] #648 closed

[2016-11-10 11:15] slavogiez commented on #268
I had the same problem. I just wrapped the StrictButton into a FormActions as mentionned [here](http://django-crispy-forms.readthedocs.io/en/latest/layouts.html#bootstrap-layout-obj) :

self.helper.layout = Layout(
   'email',
   'password',
   'remember_me',
   FormActions(
      StrictButton('Sign in', css_class='btn-default')
   ),
)

[2016-11-11 10:44] zoidbergwill commented on #647
Hi @koopg Could you share code for easily reproducing this?

[2016-11-17 05:46] achillis1 opened #651 "active tab"
* Package version: 1.6.1
* Django version: 1.10.2
* Python version: 3.4

### Description:

I'm using the bootstrap TabHolder layout in my form. The problem is it always opens the first tab as default. I tried the following code but it doesn't work. So I need to know how to set the 2nd tab as default when the page is open.

`TabHolder(
    Tab('tab1',
        Field('f1'),
    ),
    Tab('tab2',

[2016-11-18 20:29] troyshu commented on #605
I'm seeing this issue as well in crispy 1.6.0. I'm using Django 1.10, if that matters.

Anyways, the workaround that I'm using for now is the one at https://github.com/django-crispy-forms/django-crispy-forms/issues/263: to use `{{ form.media}}` to render the form's media assets.

[2016-11-20 12:19] sureshvv commented on #623
I am facing the same issue.

[2016-11-21 13:20] tomedelliott commented on #649
Bootstraps drop down is not a form input, so what you select using the input-group-addon would not be passed through to the form.

You can add the input-group-addon using crispy_forms.bootstrap [AppendedText](https://django-crispy-forms.readthedocs.io/en/latest/layouts.html#bootstrap-layout-objects). You would then need a hidden input element and some javascript to pass the data from the drop down

[2016-11-21 14:06] tomedelliott commented on #649
you could also use a select in the [input-group-addon](http://codepen.io/anon/pen/QGpvje)

[2016-11-28 09:25] carltongibson commented on #540
Can you show your imports? You'll need to be using `ugettext_lazy`

I'm going to close this assuming it's not an actual issue. Happy to continue discussion and/or re-open if it is a problem with crispy forms.

[2016-11-28 09:25] #540 closed

[2016-11-28 09:27] carltongibson commented on #647
I'm going to close this. It's not an actionable issue as it stands. Happy to help if you can provide more info — but there really isn't enough to go on here.

[2016-11-28 09:27] #647 closed

[2016-11-28 09:31] carltongibson commented on #589
Supongo qué esto ha sido resolvado. Si qué no haga un comentario.

[2016-11-28 09:31] #589 closed

[2016-11-28 09:42] carltongibson opened #654 "Build Failing..."
Since https://github.com/django-crispy-forms/django-crispy-forms/commit/0edd6e940923cdf8fa479565464c858694452c9f

e.g. https://travis-ci.org/django-crispy-forms/django-crispy-forms/jobs/179376883

[2016-11-28 10:16] carltongibson commented on #654
Closed by #655

[2016-11-28 10:16] #654 closed

[2016-11-29 10:09] #530 closed

[2016-11-29 10:12] carltongibson commented on #605
#525 added a `include_media` FormHelper attribute.

Can you check this is `True` and report back?

I'm not expecting to see this issue...

[2016-11-29 10:15] carltongibson commented on #605
Reviewing #525, I'm going to close this. `include_media` has good test coverage but defaults to `False` — that'll be your issue.

**If** it's not come back and we can re-open.

[2016-11-29 13:26] troyshu commented on #605
Thanks for pointing that out! In my form, `self.helper.include_media` is `True` (not from me setting it, but just from the initialization of `self.helper` with `self.helper = FormHelper()`).

I, like the original poster, was using the filter to render a form`{{ form|crispy }}`, perhaps mistakingly. The issue goes away when I use the crispy tag `{% crispy form %}` to show my form. Is that the desir

[2016-11-29 13:44] carltongibson commented on #605
Ah, yes. The crispy filter...

That's a good question.

[2016-11-29 13:46] carltongibson commented on #605
(Initially leaning towards "Yes" — not least to encourage people not to use it 🙂)

[2016-12-01 21:03] darklow opened #658 "New changes are required for bootstrap4-alpha5 horizontal forms and grid layout."
New changes are necessary for Bootstrap4-alpha5 (some since alpha-3):
1.  `.form-control-label` was renamed to `.col-form-label` (since alpha-3)
Evidence and current markup for horizontal forms:
http://v4-alpha.getbootstrap.com/components/forms/#using-the-grid

2. `.form-group` is required to use together with `.row` again.
Evidence and current markup for horizontal forms:
http://v4-alpha.getboots

[2016-12-02 07:51] carltongibson commented on #658
@darklow — PR: Yes please 🙂

We can roll a new release for this. If we highlight in the change notes what the _"supported"_ version is then users can stick with the old version if they need to.

Exactly. Bootstrap4 support is alpha/beta for at least as long as Bootstrap 4 is. Having to update is part of the cost of being on the _bleeding-edge_.

[2016-12-02 08:52] darklow commented on #658
@carltongibson ok great. Already working on changes. So far so good.

Have one question regarding checkbox. Bootstrap4 now supports labels for checkbox, which I find very useful thing. For example you can have label "Agreement" and near checkbox write add another label which is more explaining. In such way form design/layout isn't getting broken with gaps.

![image](https://cloud.githubusercontent

[2016-12-02 09:04] carltongibson commented on #658
Ooh. Ouch. 🙂

I think we _may_ need to think about a custom Field subclass — or maybe something on the `FormHelper` — or ...

Can you open a separate ticket for that?

[2016-12-02 12:15] darklow commented on #658
@carltongibson Alright, will leave checkboxes currently as it is and will open new issue for discussion.

[2016-12-02 12:24] darklow opened #661 "Support for bootstrap4-alpha5 left column labels for checkboxes."
Bootstrap4 now supports labels for checkbox (#658), which I find very useful thing. For example you can have label "Agreement" and near checkbox write add another label which is more explaining. In such way form design/layout isn't getting broken with gaps.

![image](https://cloud.githubusercontent.com/assets/445304/20827879/3836f0a0-b87d-11e6-83a3-5965d4738d6a.png)

In terms of consistency I thin

[2016-12-06 09:45] bluesurfer opened #663 "Override form_class for specific field"
From the docs:

[code]

What if I want to use a different grid layout for a specific field? Let's say that I have a standard address form and want to wrap more than one one field with a different grid?

Something like this:
![image](https://cloud.githubusercontent.com/assets/4722772/20920637/03facdc6-bba1-11e6-8eba-12ef258e43bc.png)

Taken from here http://bootsnipp.com/snippets/featured/address-d

[2016-12-07 12:58] tomedelliott commented on #663
You should be able to do something like:
[code]

[2016-12-07 15:13] bluesurfer commented on #663
That would just change the field's CSS class and it does not affect the row (fields are not inline)

[2016-12-16 18:04] lorinkoz opened #668 "Properly rendering fields with MultiWidget descendant"
Is there any workaround to make crispy-forms render properly the inner widgets of a MultiWidget descendant?

[2016-12-17 09:34] carltongibson commented on #668
@lorinkoz Can you add more detail please? What are you expecting? What are you getting? (Screenshots &/or HTML)

General Rule of Thumb: Override the template. (Hard to be more specific as stands.)

[2016-12-19 18:57] lorinkoz commented on #668
This is in some `forms.py`

    class SomeForm(forms.ModelForm):
       class Meta:
          model = SomeModel
          widgets = {
             'somefield': MyCustomMultiWidget
          }

`MyCustomMultiWidget` contains inner `CheckboxSelectMultiple` and `RadioSelect` widgets.
Then, in `some_template.html` using Bootstrap 3 template pack:

    {{ form.somefield|as_crispy_field }}

It renders n

[2016-12-28 15:54] mihirsevak opened #673 "Inlining other controls like radio buttons and checkboxes"
* Package version: latest
* Django version: 1.8
* Python version: 2.7.x

### Description:
I am using django crispy forms in my application and I am very happy with it. I am using it on bootstrap 3. Here is my question. Is there any way I can inline two textboxes the way I can inline radiobuttons and checkboxes using inline_radios() function??

By default all textboxes are rendered in vertical orde

[2017-01-04 09:04] doulix commented on #663
I think I found an acceptable solution:

[code]

[2017-01-12 14:22] lggwettmann opened #677 "Include Submit button automatically?"
Hey guys,

I made a template for an existing package with this Django code:
[code]

I'd like to use bootstrap templating of Crispy forms, but when I do this
[code]
Crispy forms renders the submit button outside the form tags and the form is useless:
[code]

Do I miss a feature of Crispy forms? How do you solve this without writing a custom form for the 3rd party package. Thanks in advance.

[2017-01-12 15:35] kevin-brown commented on #677
Instead rewriting the entire form, you can always subclass it and set up the rendering settings within it.

[code]

No, it's not ideal. But yes, it works fairly well.

[2017-01-12 15:42] lggwettmann commented on #677
Thanks, yeah I tried that, but it seems very complicated for that specific package. I need to create separate URL's and such and it's just super, super messy. I'm sure it's doable, though. :/

If I'm not the only one longing for an easy solution, perhaps it'd be an idea to add a feature which includes elements in the original form tag also in the rendered form tag automatically?

[2017-01-13 12:47] carltongibson commented on #677
The `crispy` tag takes a `FormHelper` as an optional second argument. If you set `form_tag = False` on that helper (I think) you should get what you want.

Review [`crispy` tag docs](http://django-crispy-forms.readthedocs.io/en/latest/crispy_tag_forms.html#crispy-tag-with-forms) — there are a lot of examples there.

(I'm guessing you're getting two `form` elements rendered — the one in your templa

[2017-01-18 19:14] davidszotten opened #683 "django 1.11 l10n change"
Came across this when trying to add django 1.11 (alpha) compat:

In https://github.com/django-crispy-forms/django-crispy-forms/issues/214#issuecomment-21688123 crispy-forms decides to follow django and not localize things

however, as of django 1.11, the lack of localization seems to have been "fixed": https://docs.djangoproject.com/en/dev/releases/1.11/#template-widget-incompatibilities-1-11

que

[2017-01-19 15:08] carltongibson commented on #683
@davidszotten Good question 🙂

Did that result in a failing test case? If so can you open a PR showing that failure? That would be a good place to begin discussion.

[2017-01-19 15:48] davidszotten commented on #683
there's an explicit check:

https://github.com/django-crispy-forms/django-crispy-forms/blob/dev/crispy_forms/tests/test_layout.py#L368

(the widget html has also changed the order of attrs, so i'm in the process of using something like `assretHtmlEquals` instead of the current string comparisons currently causing failures all over

will try to finish that off and raise pr

[2017-01-19 16:15] carltongibson commented on #683
OK. Cool.

I'm happy for you to open something half-formed if you want input.

Thanks for the effort!

[2017-01-19 17:03] davidszotten commented on #683
sure, though that's unlikely to add much to this particular question (l10n)

[2017-01-21 12:27] joewandy commented on #144
Still waiting for an update too here ..

[2017-01-21 18:46] carltongibson commented on #144
It's unlikely we'll now add anything here.

Rendering multiple forms settIng form_tag=False on the Helper gives you 90% of what you need.

I'm sceptical that anything else would be generic enough and simple enough to include in the library. (It doesn't strike me as a problem that you can solve with a list in userland view code.)

I'll leave this open, and discussion open too, for the now. Please d

[2017-01-27 18:07] brandonwbrown commented on #242
Just refreshing this conversation and registering my vote here for a Cancel button with an href argument and css_class. I'd implement it if I knew how... thanks much.

[2017-01-27 18:14] carltongibson commented on #242
Please don't make "+1" comments. There's a reaction button for that purpose. It just wastes time and is annoying

[2017-02-03 19:43] spnshguy commented on #677
Crispy form actually has an option to add a submit button in the form init.

heres an example:
def __init__(self, *args, **kwargs):
        super(YourForm, self).__init__(*args, **kwargs)
        self.helper.add_input(Submit('submit', 'Submit'))

[2017-02-03 20:08] #677 closed

[2017-02-03 20:09] carltongibson commented on #677
I'm going to assume this is a usage issue. (Beyond the suggestions given there's not much to say based on the available info.)

[2017-02-03 22:57] lggwettmann commented on #677
Thanks, guys. I created a generic Form with just one FormHelper which disables the form_tag like @carltongibson suggested. The power of the crispy forms tag shouldn't be underestimated ;)

[2017-02-04 00:05] merwok opened #687 "Failures against (pre2.0) Django Master"
### Description:

Starting an app that includes django-crispy-forms gets these warnings:

[code]

[code]

[2017-02-06 13:41] spnshguy opened #689 "issue with ajax validation"
* crispy 1.6.0
* django 1.8
* python 3.4

This is more of a question for than an issue. I've read the doc and i followed the procedure for an ajax validation.

[code]
In the ajax success, the doc says that we have to replace the old form with the new one. ex:

    $(example_form).replaceWith(data['form_html']);

this works fine but what happens if instead of putting the form in the template like s

[2017-02-06 15:12] carltongibson commented on #689
The `$(example_form).replaceWith(data['form_html']);` is Javascript executed in the browser with the returned HTML from your Django view. It does not change if you change the way you create that HTML. i.e. You can use either approach as you see fit.

Usage questions are better suited to StackOverflow.

[2017-02-06 15:12] #689 closed

[2017-02-09 00:07] lucaswiman opened #690 "Support Grouped Choice Sets in CheckboxSelectMultiple"
* Package version: 1.6.1
* Django version: 1.9 (/all)
* Python version: 2.7 (/all)

### Description:

After Django 1.7, the choice widgets all support nested choices (which render as OPTGROUP tags in the HTML for select widgets, and as nested lists for the checkboxselect widgets). See [this django issue](https://code.djangoproject.com/ticket/20931) for more discussion. In crispy_forms, the default

[2017-02-09 07:41] carltongibson commented on #690
@lucaswiman Nice report. Thank you.

First response: Yes. Clearly something we need to address. (Do you happen to be itching to take it on?)

[2017-02-09 07:55] lucaswiman commented on #690
Sure. I'll try to submit a PR for this if I get time in the next few weeks. It's fairly straightforward to fix by overriding the `checkboxselectmultiple.html`, so it's not an urgent fix.

[2017-02-20 18:37] diogolr commented on #242
If you're using Bootstrap (like I think you do), you can use `FormActions`:
[code]

[2017-02-20 19:21] carltongibson commented on #242
Yes, the FormActions example is even [in the docs](http://django-crispy-forms.readthedocs.io/en/latest/layouts.html#bootstrap-layout-objects).

The canonical answer here will be "Use Layouts" [Docs](http://django-crispy-forms.readthedocs.io/en/latest/layouts.html)

Either adding a `Button`, or using `HTML` to add an anchor is clear enough.

Again, very happy to see PRs on specific points — but I'm

[2017-02-20 19:21] #242 closed

[2017-02-21 15:12] carltongibson commented on #586
I'm going to close this as I cannot reproduce it. If someone can provide a failing test case I am happy to re-open it.

The stack trace doesn't make sense as is — `render_field` calls `render` on a `Layout` object passing the `template_pack` parameter. That is unchanged between 1.4 (and before) and now. Therefore I cannot see how the issue arrises.

The linked `xadmin` issue has the right solution

[2017-02-21 15:12] #586 closed

[2017-02-21 15:32] carltongibson commented on #611
@hheimbuerger I'm happy to look at specific PRs around this but it's not something I want to allocate bandwidth to directly.

`FormHelper` instances are initialised with a default layout — which will apply the `field_template` when rendered. (I removed the misleading doc remark in 2183a831fa6a727ee51e5d66bf33979f73dd6527)

See [`build_default_layout`](https://github.com/django-crispy-forms/django-

[2017-02-21 15:32] #611 closed

[2017-02-21 15:44] carltongibson commented on #426
`Field` is the anomaly here. It's documented using `id` directly but pretty much everything else takes `css_id`.

Very happy to see a PR cleaning that up.

[2017-02-21 15:53] carltongibson commented on #624
I'm going to close this since we can't reproduce. Happy to re-open if more detail turns up.

[2017-02-21 15:53] #624 closed

[2017-02-21 19:41] carltongibson commented on #683
@davidszotten [commented on #684](https://github.com/django-crispy-forms/django-crispy-forms/pull/684#issuecomment-274319093):

We need to confirm the behaviour in Django 1.11 — it looks like all values are now localised. If so, replacing the `unlocalize` calls with a custom filter (that does the branching) [until 1.8 is EOL](https://www.djangoproject.com/download/#supported-versions) seems the be

[2017-02-21 20:12] carltongibson commented on #687
1.11 build is now passing. We just have `master` (for 2.0) to deal with. There are the above plus a lot like this:

[code]

https://travis-ci.org/django-crispy-forms/django-crispy-forms/jobs/203944846#L826

No doubt a single error.

I don't think we're too far away.

[2017-02-21 20:16] #663 closed

[2017-02-21 20:20] carltongibson commented on #602
I'm going to close this as something we just don't have the bandwidth to take on as an Active Issue.

I'm happy to review PRs addressing it from a docs or code POV but it's not something we can allocate time to right now.

[2017-02-21 20:20] #602 closed

[2017-02-21 20:23] #592 closed

[2017-02-21 20:24] carltongibson commented on #592
@MichaelPavlov Sorry for the slow uptake here. I'm afraid there just isn't enough to go on. I assume by now you've found a work around.

[2017-02-21 20:27] carltongibson commented on #604
I'm afraid there's not enough to go one here. If the generated submit has the `name` attribute set then it will be passed by the browser when you POST the form.

[2017-02-21 20:27] #604 closed

[2017-02-21 20:28] carltongibson commented on #623
I'm going to close this. I don't think it's really a Crispy Forms issue

[2017-02-21 20:28] #623 closed

[2017-02-21 20:30] carltongibson commented on #651
This isn't really something we've got bandwidth to dig into I'm afraid. If you can look into it and identify a specific behaviour we could adjust then we could do something but as it stands it's not really an Issue we can address.

[2017-02-21 20:30] #651 closed

[2017-02-21 20:32] #144 closed

[2017-02-21 20:33] carltongibson commented on #118
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 20:33] #118 closed

[2017-02-21 20:33] #145 closed

[2017-02-21 20:34] #207 closed

[2017-02-21 20:34] #210 closed

[2017-02-21 20:34] carltongibson commented on #227
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 20:34] #227 closed

[2017-02-21 20:35] #240 closed

[2017-02-21 20:36] #241 closed

[2017-02-21 20:38] carltongibson commented on #247
You'd need to override the relevant template I guess. (Sorry, not much of an answer after all this time.)

[2017-02-21 20:38] #247 closed

[2017-02-21 20:39] carltongibson commented on #252
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 20:39] #252 closed

[2017-02-21 20:39] carltongibson commented on #506
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 20:39] #506 closed

[2017-02-21 20:40] #253 closed

[2017-02-21 20:41] carltongibson commented on #257
Happy to see input on this one but it's not something I'm going to prioritise at the moment. (Just a question of bandwidth really) If it comes up again when we're more on top of the backlog we can reconsider.

[2017-02-21 20:41] #257 closed

[2017-02-21 20:42] carltongibson commented on #259
Custom widget seems reasonable. (Ideal in fact)

[2017-02-21 20:42] #259 closed

[2017-02-21 20:44] carltongibson commented on #260
Meh. Not sure. Happy to look at a concrete PR showing the behaviour change (the before and after) etc. Other than that it's not something we've got the bandwidth to address as an active issue.

[2017-02-21 20:44] #260 closed

[2017-02-21 20:45] carltongibson commented on #265
I'm going to close this as not really actionable.

I'm **very happy** to take small PRs addressing individual issues but it's too much to verify such a list, especially after so much time.

[2017-02-21 20:45] #265 closed

[2017-02-21 20:47] carltongibson commented on #270
Happy to see a PR on this. Going to close it as an active issue though.

[2017-02-21 20:47] #270 closed

[2017-02-21 20:48] carltongibson commented on #271
I'm going to assume this is resolved. @zoidbergwill shout if it's not (and you want to consider it an active issue).

[2017-02-21 20:48] #271 closed

[2017-02-21 20:51] carltongibson commented on #276
`format` is the format in which this field’s initial value will be displayed. If that's not happening we can look at a concrete test case showing that. I'm going to assume there was some other issue here.

[2017-02-21 20:51] #276 closed

[2017-02-21 20:52] carltongibson commented on #277
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 20:52] #277 closed

[2017-02-21 20:55] carltongibson commented on #280
Closed by #523

[2017-02-21 20:55] #280 closed

[2017-02-21 20:56] carltongibson commented on #281
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 20:56] #281 closed

[2017-02-21 20:58] carltongibson commented on #283
The main repo contains four template packs now. There's also a [Foundation template pack](https://crispy-forms-foundation.readthedocs.io/en/latest/) (Maybe there are others)

Happy to take a PR linking to external template packs. Going to close this as an Active Issue.

[2017-02-21 20:58] #283 closed

[2017-02-21 21:00] carltongibson commented on #289
If you want control over the layout you'll always need to specify it. Otherwise CF **does** build a default layout from the `Form` instance.

Happy to review concrete suggestions but I don't see anything we can do here as is.

[2017-02-21 21:00] #289 closed

[2017-02-21 21:01] carltongibson commented on #296
Happy to take input here.

[2017-02-21 21:03] carltongibson commented on #297
It makes the clickable area bigger.

I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 21:03] #297 closed

[2017-02-21 21:04] carltongibson commented on #298
I'm going to close this due to age. Happy to look at it if it comes up again.

[2017-02-21 21:04] #298 closed

[2017-02-21 21:05] carltongibson commented on #299
Happy to take input on this but can't consider it an active issue at the moment.

[2017-02-21 21:05] #299 closed

[2017-02-21 21:06] carltongibson commented on #302
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 21:06] #302 closed

[2017-02-21 21:08] carltongibson commented on #304
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 21:08] #304 closed

[2017-02-21 21:10] carltongibson commented on #306
Happy to take a PR parameterising things such as this. Due to bandwidth, I'm going to close this as Out of Scope for the moment.  We may have capacity to reconsider in the future.

[2017-02-21 21:10] #306 closed

[2017-02-21 21:10] #305 closed

[2017-02-21 21:11] carltongibson commented on #307
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-21 21:11] #307 closed

[2017-02-21 21:11] MichaelPavlov commented on #592
@carltongibson It was the default style for selectbox in firefox. Thanks for the reply anyway. Cheers.

[2017-02-21 21:12] #312 closed

[2017-02-22 08:01] carltongibson commented on #313
You'd need to use [a custom Layout ](http://django-crispy-forms.readthedocs.io/en/latest/layouts.html).

[2017-02-22 08:01] #313 closed

[2017-02-22 08:04] carltongibson commented on #316
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:04] #316 closed

[2017-02-22 08:06] carltongibson commented on #324
You'd need to override the specific field template.

[2017-02-22 08:06] #324 closed

[2017-02-22 08:08] carltongibson commented on #325
Due to bandwidth, I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:08] #325 closed

[2017-02-22 08:10] #328 closed, assigned to nobody

[2017-02-22 08:12] carltongibson commented on #330
The _fix_ here is to override the field template to generate the HTML you require. (This has to be user-land: we can't possibly support every variation in the templates.)

[2017-02-22 08:12] #330 closed

[2017-02-22 08:14] carltongibson commented on #333
In theory that should work. I'd need to see a minimal reproduce to help further. I assume after all this time it's no longer an issue.

[2017-02-22 08:14] #333 closed

[2017-02-22 08:15] carltongibson commented on #334
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:15] #334 closed

[2017-02-22 08:17] carltongibson commented on #335
Creating a custom Layout object would be the way to go.

I suspect it's not something we'd add to the core library but if you packaged it up (and it looked good) we'd be happy to link to it from the docs.

[2017-02-22 08:17] #335 closed

[2017-02-22 08:18] carltongibson commented on #337
Really happy to see any input on this. — A failing test case would be a great start.

[2017-02-22 08:19] carltongibson commented on #338
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:19] #338 closed

[2017-02-22 08:20] carltongibson commented on #339
This is the same as #610 I think.

[2017-02-22 08:20] #339 closed

[2017-02-22 08:22] carltongibson commented on #341
Closing as duplicate of #326, to be handled by #576

[2017-02-22 08:22] #341 closed

[2017-02-22 08:23] carltongibson commented on #346
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:23] #346 closed

[2017-02-22 08:24] carltongibson commented on #347
Due to age and bandwidth, I'm going to close this for now. Happy to look at it if it comes up again.

[2017-02-22 08:24] #347 closed

[2017-02-22 08:26] carltongibson commented on #350
Happy to take input on a concrete solution but it's not something we've got the bandwidth to address right now. (We'll reassess if it comes up again in the future.)

[2017-02-22 08:26] #350 closed

[2017-02-22 08:28] carltongibson commented on #351
Not sure. There's not quite enough to go on here. Due to age I'm going to close this. We can reassess if it comes up again.

[2017-02-22 08:28] #351 closed

[2017-02-22 08:28] carltongibson commented on #352
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:28] #352 closed

[2017-02-22 08:36] carltongibson commented on #353
You can pass a custom template to the layout object `template="custom-select.html"`. [See docs](http://django-crispy-forms.readthedocs.io/en/latest/layouts.html)

[2017-02-22 08:36] #353 closed

[2017-02-22 08:39] carltongibson commented on #357
Closing as duplicate of #303

[2017-02-22 08:39] #357 closed

[2017-02-22 08:41] carltongibson commented on #359
This is a known (and documented) limitation. I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:41] #359 closed

[2017-02-22 08:42] carltongibson commented on #362
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:42] #362 closed

[2017-02-22 08:43] carltongibson commented on #367
Happy (very happy) to take input on parameterising template packs. Not something we've got the bandwidth to address directly ourselves at the moments.

[2017-02-22 08:43] #367 closed

[2017-02-22 08:43] carltongibson commented on #371
Sounds interesting but, I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:43] #371 closed

[2017-02-22 08:46] carltongibson commented on #376
Default answer is to override the template — we can't possibly support every HTML variation in the supplied templates.

If you think it's a more general issue I'm **very happy** to review concrete changes in a PR. This isn't something we have bandwidth to address ourselves at the moment however.

[2017-02-22 08:46] #376 closed

[2017-02-22 08:47] carltongibson commented on #379
For extra complex forms you may be better served with a custom template (and rendering the form directly).

This isn't an addressable issue for Crispy Forms.

[2017-02-22 08:47] #379 closed

[2017-02-22 08:48] carltongibson commented on #443
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:48] #443 closed

[2017-02-22 08:50] carltongibson commented on #380
Yep. This is possible. You can always render a form "by-hand" and you're welcome to use any CF helpers along the way.

[2017-02-22 08:50] #380 closed

[2017-02-22 08:51] carltongibson commented on #384
Errr... the template is at `templates/bootstrap3/betterform.html`...

[2017-02-22 08:51] #384 closed

[2017-02-22 08:51] carltongibson commented on #388
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:51] #388 closed

[2017-02-22 08:53] carltongibson commented on #389
The canonical way to adjust the HTML is to override the templates. (Layout objects take a template parameter.)

[2017-02-22 08:53] #389 closed

[2017-02-22 08:55] carltongibson commented on #392
You can override the templates as you see fit. `FormHelper` also has a `show_form_errors` flag. [Docs](http://django-crispy-forms.readthedocs.io/en/latest/form_helper.html)

[2017-02-22 08:55] #392 closed

[2017-02-22 08:56] carltongibson commented on #395
OK. I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 08:56] #395 closed

[2017-02-22 08:56] #402 closed

[2017-02-22 08:57] #404 closed

[2017-02-22 08:57] #405 closed

[2017-02-22 09:05] guettli opened #692 "How to handle several forms on one page with crispy forms?"
How to handle several forms on one page with crispy forms?

I could not find something about this in the docs (please forgive me if I was blind).

[2017-02-22 09:21] carltongibson commented on #692
@guettli Sorry, I don't understand the issue. What are you trying to do? What's not working? Is this an issue with Crispy Forms? If it's a usage question Stack Overflow is probably your best bet.

I'm going to close this. Happy to reopen if there's a genuine issue with CF here.

[2017-02-22 09:21] #692 closed

[2017-02-22 09:23] carltongibson commented on #408
Duplicate of #303

[2017-02-22 09:23] #408 closed

[2017-02-22 09:23] carltongibson commented on #409
This certainly wouldn't be an obvious change. I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 09:23] #409 closed

[2017-02-22 09:24] #413 closed

[2017-02-22 09:26] carltongibson commented on #431
Fixed

[2017-02-22 09:26] #431 closed

[2017-02-22 09:28] carltongibson commented on #441
Very happy to see input on this.

[2017-02-22 09:32] #478 closed

[2017-02-22 09:34] carltongibson commented on #505
Due to bandwidth, I'm going to close this as an active issue. If someone running into this want's to suggest a fix (in a PR) that would be great.

[2017-02-22 09:34] #505 closed

[2017-02-22 09:35] carltongibson commented on #533
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 09:35] #533 closed

[2017-02-22 09:37] carltongibson commented on #536
Very happy to take that as a PR but, due to bandwidth, I'm going this as an active issue. If it comes up again we can reassess in the future.

[2017-02-22 09:37] #536 closed

[2017-02-22 09:38] carltongibson commented on #550
`FormHelper` exposes `include_media` [Docs](http://django-crispy-forms.readthedocs.io/en/latest/form_helper.html)

[2017-02-22 09:38] #550 closed

[2017-02-22 09:42] carltongibson commented on #609
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 09:42] #609 closed

[2017-02-22 09:43] carltongibson commented on #614
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests. We may have capacity to reconsider in the future.

[2017-02-22 09:43] #614 closed

[2017-02-22 09:44] carltongibson commented on #646
I'm going to close this as Out of Scope for the moment.

**Very Happy** to consider documented, tested pull requests.

We may have capacity to reconsider in the future.

[2017-02-22 09:44] #646 closed

[2017-02-22 09:45] #649 closed

[2017-02-22 09:50] carltongibson commented on #668
I'm going to close this as Out of Scope for the moment. Happy to consider documented, tested pull requests.

If you can put together expected results vs actual, and ideas for changes you'd like to see made, we may have capacity to reconsider in the future.

The answer for now may just be, where you're doing this:

render the field yourself.

(Can you not achieve what you're looking for with a cust

[2017-02-22 09:50] #668 closed

[2017-02-22 09:52] carltongibson commented on #673
Look into Layouts [Docs](http://django-crispy-forms.readthedocs.io/en/latest/layouts.html). Maybe a fieldset with a custom template...

[2017-02-22 09:52] #673 closed

[2017-02-22 12:05] #560 closed

[2017-03-01 18:59] FlowFX commented on #580
Thanks @scuml for the solution to my problem! :D

[2017-03-06 15:52] morinx opened #696 "Crispy formset helper not passed to template"
* Package version: 1.6.1
* Django version: 1.10.5

### Description:

I'm trying to add crispy to a formset and a form in the same template, but cannot pass the helper to formset in the template.

I have included my code in stackoverflow but got no answers yet
http://stackoverflow.com/questions/42615357/cannot-pass-helper-to-django-crispy-formset-in-template

Any help is appreciated

[2017-03-09 15:54] oscarmlage opened #697 "Is there any way to integrate django-crispy-forms in django admin"
* Package version: 1.6.1
* Django version: 1.10
* Python version: 2.7.13

### Description:

I would like to customize the 'admin/change_form.html', instead of use the basic django.contrib.admin view to draw the fields (they only can be grouped by fieldsets, not much more), would be posible to use crispy for that? I mean to define a form layout with tabs, fieldsets, fields per column etc... and dra

[2017-03-10 13:08] carltongibson commented on #697
Hi @oscarmlage,

In essence, Yes.

The [Admin Docs](https://docs.djangoproject.com/en/1.10/ref/contrib/admin/) are your friend.

In particular you probably what to look at the [Custom template options](https://docs.djangoproject.com/en/1.10/ref/contrib/admin/#custom-template-options) section and the [ModelAdmin.form](https://docs.djangoproject.com/en/1.10/ref/contrib/admin/#django.contrib.admin.Mo

[2017-03-10 13:08] #697 closed

[2017-03-14 19:22] Sorjak opened #698 "Bootstrap4 tabs not rendering properly"
* Package version: 1.6.1
* Django version: 1.10.3
* Python version: 3.4.2

### Description:

Trying to get tabs to render, using TabHolder and Tabs as documented.

[code]

This results in the main tabs nav with `<li>` elements that have the "tab-pane" css class, where they should have the "nav-item" css class, and the `<a>` links under them should have the "nav-link" css class, according to [this]

[2017-03-15 07:55] carltongibson commented on #698
Hi @Sorjak — Can you review #676? Does that help? (Tests were failing there so it needs updating at the least but, _Is that your issue?_)

[2017-03-27 08:16] alexisdeza opened #700 "Add HTML to all default fields"
* Package version:1.2.1
* Django version:1.11
* Python version:3.5

### Description:

I want to add a range slider in each default field, but I'm with troubles to make the HTML using the filter and warp, I make a Form with form-horizontal, label with col-md-2, field class with col-md-2 numeric and want put another col-md-8 to the slider.
So
The package create a
[code]

and I want something like
[c

[2017-03-27 10:02] carltongibson commented on #700
See the docs [Overriding Layout Object Templates](http://django-crispy-forms.readthedocs.io/en/latest/layouts.html#overriding-layout-objects-templates)

[2017-03-27 10:02] #700 closed

[2017-04-02 12:54] wetneb opened #701 "Radio fields with empty choice are not checked="checked""
* Package version: 1.6.1
* Django version: 1.10.6
* Python version: 2.7.9

### Description:

When rendering a ModelForm with a RadioSelect widget for a model field with `null=True`, the null option is not checked even if the default value is set to `None`.

This comes from the fact that Django normally converts the field value from `None` to `''` in the `render()` method:
<pre>
class Select(Widget

[2017-04-02 18:02] #701 closed

[2017-04-04 20:40] mdalpi opened #703 "Django 1.11 slow ChoiceField rendering"
* Package version: 1.6.1
* Django version: 1.11
* Python version: 3.6.1

### Description:

I just upgrade to Django 1.11 and I noticed that in a specific form that we render timezones from `pytz.common_timezones` (currently 439 items) I'm getting error 503. After some tests, it seems that rendering `ChoiceFields` is extremely slow. If i trim the list down to a few items (<100) the form is displaye

[2017-04-05 12:56] jamescw opened #704 "InlineRadio does not seem to respect `form_show_labels` or `help_text_inline`"
* Package version: 1.6.1
* Django version: 1.9.8
* Python version: 2.7.9

InlineRadio does not seem to respect `form_show_labels` or `help_text_inline` when set on the form helper object:

[code]

![image](https://cloud.githubusercontent.com/assets/440684/24706468/710979fa-1a18-11e7-9b94-67929e4670fc.png)

[2017-04-05 13:01] kakulukia opened #705 "asteriskField missing for checkboxes"
django-crispy-forms==1.6.1
Django==1.10.6
Python 3.5.1

### Description:
I want to have the same asteriskField span included in checkbox labels as they are inside all the other labels of my form, but they are missing for checkboxes (InlineCheckboxes works tho).

Here is the form definition:

[code]

The field in question is a  `models.BooleanField` .. any hints to what went wrong?

[2017-04-05 21:30] carltongibson commented on #703
@mdalpi Thanks for the report.

Since you have a test case, would it be possible for you to use `git bisect` to work out the change that's leading to this? That would be amazingly helpful.

[2017-04-10 19:24] xbello commented on #703
@mdalpi Do you have the Django Debug Toolbar enabled while testing this? I had the same problem, and finally found that disabling DDT _solved_ the problem. See

https://github.com/jazzband/django-debug-toolbar/issues/910

[2017-04-11 16:32] mdalpi commented on #703
@xbello You're right, it's DDT fault, thank you 😄

[2017-04-14 15:55] faost commented on #703
@mdalpi or you can just disable ` 'debug_toolbar.panels.templates.TemplatesPanel'` from [DEBUG_TOOLBAR_PANELS setting](http://django-debug-toolbar.readthedocs.io/en/stable/configuration.html#debug-toolbar-panels)

[2017-04-15 00:52] SonofLight commented on #530
You can use the form instance to pass parameters. I used self.instance.parameter in my form_action and it returned the page.

you have to use the form instance parameter in your view:

`
def city_view(request, city_id):
    city = City.objects.get(pk = 'city_id')
    form = CityForm(request.POST, instance=city)
`

then you are able to access the attributes of your city instance in the form.

`
cla

[2017-04-23 22:31] durdenk opened #710 "Crispy form inside another crispy layout"
Is it possible to use crispy template tag inside a layout object template?
I cant get it working

[2017-04-27 12:50] #710 closed

[2017-05-02 14:34] nyejon commented on #698
Hi,

I solved this on my side using the below edit to the template pack:

tab-link.html:
`<li class="nav-item"><a class="nav-link{% if 'active' in link.css_class %} active{% endif %}" href="#{{ link.css_id }}" data-toggle="tab">{{ link.name|capfirst }}{% if tab.errors %}!{% endif %}</a></li>`

[2017-05-03 13:38] #703 closed

[2017-05-06 00:21] powderflask commented on #323
Not sure this is same issue, but something happened to the bootstrap3/layout/formactions.html template.  In V.1.4 this template included the "form-actions" class.  In V.1.6 both the structure and the css classes assigned to the FormActions has changed.  This is a backwards-incompatible change, and caused some serious bugs for me when I upgraded crispy_forms.
I'm happy to help, but not sure I under

[2017-05-08 21:38] bobort commented on #144
It looks like the work that maraujop did is not in the master branch, but it is exactly what we need for this feature to work.  Was there any particular reason why this feature did not make it into master?  I know this question is similar to "any updates?", but why should anyone do a pull request if the code is already complete and ready to use?

[2017-05-09 06:41] carltongibson commented on #144
@bobort At this point it's mainly a combination of age vs the trade-off between utility and added-complexity and maintenance overhead.

I'm in favour of users just solving this in their own code by setting `form_tag=False` on the Helper and rendering the list of forms they want. (And yes, that will involve user involvement in their own software.)

As I said, I'm happy to review concrete suggestion

[2017-05-09 19:04] durdenk commented on #391
I think I have the same issue, couldnt detect the reason.
If my template is like below, it renders correct. I got 2 identical forms.

`{% crispy formset %}
{% for form in formset%}
{% crispy form %}
{% endfor %}`

Whereas, if I only used

`
{% for form in formset%}
{% crispy form %}
{% endfor %}
`
I doesn't use the helper, I provided.

I think this problem is related to, [Crispy formset helper not

[2017-05-10 01:45] jheasly opened #713 "bootstrap3/multifield.html missing from master (it is in dev)"
* Package version: 1.6.1
* Django version: 1.10.5
* Python version: 2.7.12

### Description:

At the bottom of http://django-crispy-forms.readthedocs.io/en/latest/layouts.html#fundamentals, there's a `MultiField` example and when you try to implement it, you get a Traceback complaining that there's no bootstrap3/multifield.html template:

[code]
 ... and in the `master` branch, that template is in

[2017-05-15 19:15] Hikaon commented on #164
I have encounter similar (I think) problem with Django 1.8 and crispy 1.6.
forms.py
`class ListingModelForm(forms.ModelForm):

    def __init__(self, *args, **kwargs):
        super(ListingModelForm, self).__init__(*args, **kwargs)
        self.helper = FormHelper()
        self.helper.form_id = 'property_form'

    class Meta:
        model = Listing
        exclude = ('location',)
`
views.py
`cl

[2017-05-20 03:25] changbindu opened #717 "Not working with django forms.Select field"
* Package version: latest
* Django version: 1.11
* Python version: 3.5

### Description:
Place a Select field as below:
province = Select()
This field is not rendered.  Can not see it in target page.

### Preferably also include:

[code]

[2017-05-20 06:33] elcolie opened #718 "Tab does not work"
http://stackoverflow.com/questions/43308225/django-crispy-form-tab/44073538#44073538

[2017-05-20 07:25] #718 closed

[2017-05-23 22:44] michael-k commented on #687
The mentioned `AttributeError` was caused by https://github.com/django/django/commit/af598187ecd9ddf398aa7a68a2b955599ddf3ae1.

[2017-05-24 00:05] bayersglassey commented on #350
I'm not very familiar with the internals of Django's lazy objects, but it seems to me like this could be fixed by defining `__radd__` for the values returned by `ugettext_lazy`.

Minimal case of the error:
[code]

...So if `lazy_text.__radd__` was defined, I think this bug would be solved.

I did a quick test to make sure defining `__radd__` lets us add to strings:
[code]

[2017-05-24 08:13] carltongibson commented on #350
@bayersglassey Nice example. This might be worth suggesting as a fix on Django.

[2017-05-26 22:15] EugeneDae commented on #703
Wow, I was about to downgrade to 1.10 because of this. Indeed DDT is the culprit. Thanks for bringing this up @mdalpi and thanks @xbello for the solution!

[2017-06-02 07:58] sant527 opened #722 "How to add css class to the label and input"
* Package version: 1.6.1
* Django version: 1.11
* Python version: 3.6.0

In the code below. I have 6 fields. Is it possible from the layout to have two of the fields look like horizontal form. i.e label field side by side rather than in a column.

### Preferably also include:
The Django code:

[code]
### the html generated (only showing the basic)

[code]

### What I want is

[code]

[2017-06-06 08:10] bluesurfer opened #723 "Q: Is crispy-forms getting deprecated? (A: No)"
I am happily using `crispy-forms`: I have created my own template pack to render Bootstrap 4 custom forms and built some custom form layout. Everything is DRY and simple.

But now Django 1.11 has landed and with it comes the ability to customize widget templates. I am a little concerned about the future of `crispy-forms` in relation with these new features (I am questioning myself: is `crispy-form

[2017-06-06 10:11] carltongibson commented on #723
@bluesurfer Good question.

At this stage there's no plan to wind up the project. A new release for Django 2.0 will come shortly. There's been lots of little additions but no great changes requiring a new release in the meantime. (If people want they can install from GitHub quite easily.)

If template sets for Django get released then maybe Crispy Forms will no longer be needed. (But `Layouts` sti

[2017-06-06 11:34] carltongibson commented on #723
Also:

* The project is mature and stable. We really don't need new releases very often. That's a good thing.
* The issue tracker is in a pretty good state: prior to Django 1.8 we had ≈150 open issues and ≈50 open pull requests. (The project was also not 1.8 compatible.) Currently we're at 32 issues (including this one) and 8 PRs. A good chunk of those are to do with BS4. Nothing in there is criti

[2017-06-06 13:56] melfelr commented on #705
I can confirm I'm getting the same issue.

[2017-06-08 19:24] durdenk commented on #723
I never needed to modify crispy form's templates, the thing makes crispy forms best is the nested object layouts. I dont understand why django's template system would make this project deprecated.

I want to thank to conributors here, I'm not accustomed python and git enough to contribute right now, but I hope to contribute to project in the future.

[2017-06-17 18:58] bedros opened #724 "when using django-crispy-forms in django 1.11.2 I get "build_attrs() got an unexpected keyword argument 'type' ""
* Package version:1.6.1
* Django version:1.11.2
* Python version:3.5

### Description:

build_attrs() got an unexpected keyword argument 'type'
Request Method:	GET
Request URL:	http://localhost:8000/en/item/new/
Django Version:	1.11.2
Exception Type:	TypeError
Exception Value:
build_attrs() got an unexpected keyword argument 'type'
Exception Location:	/mnt/redline/Projects/env/digio_proj/digio_dev

[2017-06-17 19:01] bedros commented on #724
it turned out to be bootstrap3_datetime issue not django-crispy-forms, I'll close the issue

[2017-06-17 19:01] #724 closed

[2017-06-22 21:34] moreplavec opened #725 "Form with |crispy throws 'Orders' object is not iterable"
* Package version: 1.6.1
* Django version: 1.11.2
* Python version: 3.5.2

### Description:

I used |crispy many times, but this time i get error: 'Orders' object is not iterable. If i switch to {{ form.as_p }} all works fine.

I'm using simple form for Model:

[code]

[2017-06-23 18:02] squ1b3r commented on #437
Is this ever going to be released? It's sitting in the dev branch for two years now.

[2017-06-24 18:03] moreplavec commented on #696
I have same problem. Tried few hours and found even basic example is not working. I'm using django 1.11. Looks like this repository is not maintained anymore?

[2017-06-24 21:15] durdenk commented on #696
Please provide your model form view and html code. I will try to reproduce it.

[2017-06-25 08:50] carltongibson commented on #696
He repo is maintained. In fact we're at the lowest number of open issues we've been at for years.

Happy to take input on this.

[2017-06-25 14:05] morinx commented on #696
I'm closing this issue since it's a usage problem, and will provide the answer in the stackoverflow question later.

[2017-06-25 14:05] #696 closed

[2017-06-29 17:14] dimitrismakris opened #727 "deprecated in favor of django.utils.functional.keep_lazy()"
* Package version: 1.6.1
* Django version: 1.11.2
* Python version: 3.5.2

### Description:

I tried to upgrade my Django version from 1.8 to 1.11.2 but now I get the following error:

[code]

[2017-06-29 20:48] carltongibson commented on #727
That's just a warning. 2.0 is not due until December. We have a new release in the pipeline before then.

[2017-07-04 08:57] carltongibson commented on #723
@zmrenwu I suspect that will never happen. The general move is for Django to do less, rather than more. (But if you're keen putting a proposal to the Django Dev Mailing List may be worth a try.)

The _possible_ change is for Crispy Forms to leverage the new template rendering. But there's no great rush on that. Crispy Forms is mature and stable. It's not going anywhere. Maybe we arrive at a Versio

[2017-07-07 21:21] pdewacht commented on #337
Here's a short failing test case:

    class RadioSelectSampleForm(forms.Form):
        fruit = forms.CharField(
            widget=forms.RadioSelect(
                choices=[('apple', 'Apple'),
                         ('pear', 'Pear')]))

    def test_radio_select_widget():
        form = RadioSelectSampleForm()
        html = render_crispy_form(form)
        assert html.count('type="radio"') =

[2017-07-13 13:15] zoidbergwill commented on #661
That sounds great to me. Definitely think that text on the right is different from a label.

[2017-07-15 18:27] Fabitosoft opened #729 "When I change to use Django 1.11.3 and Boostrap 4"
* Package version: 1.6.1
* Django version: 1.11.3
* Python version: 3.4.4

### Description:

I tried to update my Django version from 1.11.1 to 1.11.3 and then I got this exception:

[code]

After that, I got back to Django 1.11.1 and It's working again.

Thanks

[2017-07-20 11:06] Premitium commented on #60
Hey I have this issue at the moment. If I remove the {% crispy form %} tag from the template file, everything works. I am getting UnicodeDecodeError at /
'ascii' codec can't decode byte 0xd0 in position 0: ordinal not in range(128)

This is my form code:

[code]

[2017-07-26 12:05] asimilon commented on #379
This is a shame, I have a large form that I would like to override the label_ and field_ classes for a small handful of fields.  When you say it's not addressable, do you mean no-one is interested in adding this functionality or it's literally impossible within crispy's architecture?  If it's the former I will look into implementing it, if it's the latter I won't waste my time trying :smiley:

[2017-07-26 13:24] carltongibson commented on #379
Well , anything is possible. 😃 I’d begin looking at introducing a custom Layiut object, or whether I could get away with just overriding a template. In the limit just using a custom template to render the whole form may be simpler (but if the changes are generic there’s no reason something else won’t work)

[2017-07-30 16:59] aventurella commented on #697
Just to add to this.. Here's the actual implementation you can use to render your crispy form:

**admin.py**
[code]

**forms.py**
[code]

**admin/my_form.html**
[code]

[2017-08-02 19:50] CoutinhoElias commented on #65
@pcarpio ,

Where is your code?

[2017-08-11 08:24] carltongibson opened #732 "Finalise (and Release) Bootstrap 4 Support"
As of 10 Aug 2017 Bootstrap 4 has moved from "Alpha" to "Beta".

This **should** bring the stability we've been missing:

I'm not using Bootstrap myself currently — **so I need help with this**!

I'm going to close all other bootstrap 4 issues and will take PRs `Ref #732` helping to bring the Bootstrap 4 support up to scratch.

I'm planning a new release of Crispy Forms in the Autumn — before Djan

[2017-08-11 08:27] carltongibson commented on #729
Erm... I'm a bit confused: Your traceback references `floppyforms`, I think you need to be [over here](https://github.com/gregmuellegger/django-floppyforms)

Closing: happy to re-open if you can explain how this is a **Crispy Forms** issue.

[2017-08-11 08:27] #729 closed

[2017-08-11 08:27] carltongibson commented on #729
Re Bootstrap 4 see #732

[2017-08-11 08:30] carltongibson commented on #723
See #732: I've asked for help finalising Bootstrap 4 support, and we'll do a new release in the autumn before Django 2.0, or sooner if we get lots of input.

[2017-08-11 08:30] #723 closed

[2017-08-11 08:31] carltongibson commented on #698
See #732: I've asked for help finalising Bootstrap 4 support, and we'll do a new release in the autumn before Django 2.0, or sooner if we get lots of input.

[2017-08-11 08:31] #698 closed

[2017-08-11 08:31] carltongibson commented on #661
See #732: I've asked for help finalising Bootstrap 4 support, and we'll do a new release in the autumn before Django 2.0, or sooner if we get lots of input.

[2017-08-11 08:31] carltongibson commented on #636
See #732: I've asked for help finalising Bootstrap 4 support, and we'll do a new release in the autumn before Django 2.0, or sooner if we get lots of input.

[2017-08-11 08:31] #636 closed

[2017-08-11 08:32] carltongibson commented on #543
See #732: I've asked for help finalising Bootstrap 4 support, and we'll do a new release in the autumn before Django 2.0, or sooner if we get lots of input.

[2017-08-11 08:32] #543 closed

[2017-08-16 13:29] carn1x commented on #596
I found a similar-ish error, I had the following code:

[code]

So there was a rare case where the `Div.fields = [None]` and spewing noise into my logs.

I fixed by changing `None` to `HTML('')`

[2017-08-22 08:58] zoidbergwill commented on #732
Sorry for my silence over the last couple months, I haven't been spending as much time as I'd like on open source work.

I've updated [crispy-test-project](https://github.com/django-crispy-forms/crispy-test-project) to use the beta, and it'd be great to flesh that out to cover all the issues people have mentioned.

I'm gonna try make my way through some of the issues to see if they're still a prob

[2017-08-22 09:04] carltongibson commented on #732
@zoidbergwill:

First, **no stress**! OSS is a labour of love and often other things take priority. Anyone who doesn't understand that needs to reassess. ❤️

Second: Great! It's time for a new version of CF and if we can get BS4 compat finalised (bar the inevitable edge-cases) that would be a great addition.

[2017-08-22 09:15] zoidbergwill commented on #732
You're right. Thank you. 🙏

Awesome. That's exciting.

I think we wanna get similar changes to all of these in:

https://github.com/django-crispy-forms/django-crispy-forms/pull/660
https://github.com/django-crispy-forms/django-crispy-forms/issues/661
https://github.com/django-crispy-forms/django-crispy-forms/pull/716

[2017-08-22 13:15] zoidbergwill commented on #732
File inputs look pretty bad, but I don't know if that's a regression:

![image](https://user-images.githubusercontent.com/2572493/29567161-a03a5676-874c-11e7-9245-f859f28995e6.png)

They should look more like:

![image](https://user-images.githubusercontent.com/2572493/29567193-b3ad9d9e-874c-11e7-9368-477ec6672a70.png)

[2017-08-22 13:16] zoidbergwill commented on #725
If you could make a minimal test project that showed this error, I'd happily help dig into this.

[2017-08-22 13:34] zoidbergwill commented on #732
Should we make separate issues under a milestone?

[2017-08-22 13:41] carltongibson commented on #732
@zoidbergwill Up to you: I'd be happy just to go straight to PRs with `Ref #732` and a description

[2017-08-22 13:56] carltongibson commented on #732
@zoidbergwill If you want to create fresh tickets (on the milestone) with the "Help Wanted" flag, we may get some input...? 🙂 — It would lighten the load.

[2017-08-22 14:37] zoidbergwill commented on #732
Sounds like a great idea. :+1:

[2017-08-22 17:19] zoidbergwill opened #734 "Bootstrap 4: Prettier File Inputs"
File inputs don't look too great

![image](https://user-images.githubusercontent.com/2572493/29567161-a03a5676-874c-11e7-9245-f859f28995e6.png)

They should look more like:

![image](https://user-images.githubusercontent.com/2572493/29567193-b3ad9d9e-874c-11e7-9368-477ec6672a70.png)

Ours:

[code]

What it should be closer to:

[code]

[2017-08-22 17:21] zoidbergwill commented on #661
I think using `help_text` for now would be great.

[2017-08-22 17:47] zoidbergwill commented on #661
I'd love to get this into the next release.

[2017-08-22 17:51] zoidbergwill commented on #658
Think this is now superseded by https://github.com/django-crispy-forms/django-crispy-forms/issues/732

[2017-08-22 17:51] #658 closed

[2017-08-22 17:55] zoidbergwill commented on #722
What about using `form_group_wrapper_class`?

[2017-08-22 18:04] zoidbergwill commented on #704
Which template pack are you using?

[2017-08-22 18:05] zoidbergwill commented on #314
Good question. Would happily see a PR to get rid of these.

[2017-08-22 22:04] zoidbergwill commented on #705
What template pack are you using?

I could understand why they're not working for checkboxes, on bootstrap 3 or 4, but I'm surprised they work for inline checkboxes.

[2017-08-23 13:50] zoidbergwill opened #738 "Bootstrap linting"
It'd be awesome to run [bootlint]( https://github.com/twbs/bootlint) in our tests, to make sure we generate HTML according to bootstrap best practices.

It seems to only support Bootstrap 3 at the moment.

[Bootlint list of errors and warnings](https://github.com/twbs/bootlint/wiki)

Though maybe it'd be easier to script running this on the crispy-test-project as a start.

[2017-08-23 19:01] #705 closed

[2017-08-23 19:02] carltongibson commented on #738
This sounds like it could be a good help. (The trouble with HTML is it's hard to verify...)

[2017-09-05 17:33] lmorillas opened #741 "Error during template rendering: a float is required"
* Package version: 1.6.1
* Django version: 1.11.3
* Python version: 3.4.3
* Template pack: (Optional)

### Description:
Only with an option of a select, the page raises a type error:
[code]
### Preferably also include:

- [ ] Example Django Crispy Forms code
- [X] Screenshots
- [ ] Actual HTML generated
- [ ] Expected HTML

[crispy_error.pdf](https://github.com/django-crispy-forms/django-crispy-fo

[2017-09-06 10:46] lmorillas commented on #741
It was a typo on a clean() method raising a ValidationError.

[2017-09-06 10:46] #741 closed

[2017-09-13 15:04] michael-k commented on #687
imho this can be closed

[2017-09-17 17:19] asm154 commented on #65
Had been struggling with the same issue after adopting crispy forms and found an insanely easy fix:

<form method="post" action="" class="">
           {% crispy form %}

           {{ formset.management_form|crispy }}
           {% for form in formset %}
                <div class="form-inline">
                         {% crispy form %}
                </div>
</form>

That's it.  I set the helpe

[2017-09-25 21:39] millerdev opened #742 "Any plans for a new version?"
Are there any plans to release a new version of django-crispy-forms (maybe 1.6.2)? It would be nice to not have deprecation warnings on recent versions of Django. I only took a quick glance, and it looks like quite a bit has happened on the [dev](https://github.com/django-crispy-forms/django-crispy-forms/tree/dev) branch, but no new releases since almost a year ago. Is the dev branch considered st

[2017-09-26 06:54] carltongibson commented on #742
@millerdev

1. Yep. They'll be a new version before Django 2.0. (i.e. by December.)
2. Yep. Crispy Forms is **Very Stable** — apart from the incoming Bootstrap 4 support — it's mature and (despite some action on `dev` there's not much really changed.

On 2: we can merge any actual big fixes pretty quick — although, see 2: Crispy Forms is **Very Stable** at this point. (It's been through the mixer

[2017-09-26 06:55] carltongibson commented on #687
@michael-k Yep! Thanks for your awesome input on this!

[2017-09-26 06:55] #687 closed

[2017-09-26 12:11] millerdev commented on #742
Good to hear that `dev` is very stable, as I believe the deprecation warnings have been addressed there. I'm asking because I'm a contributor to https://github.com/dimagi/commcare-hq, and I doubt we'd change our dependency to `dev` there since we prefer to depend on fixed versions rather than a moving HEAD. Looking forward to the new version when it's released. Thanks!

[2017-09-26 12:20] carltongibson commented on #742
You can always pick an individual commit...

[2017-09-28 13:56] fedelaport opened #743 "Bootstrap 4 custom checkboxes"
* Package version: 1.6.2
* Django version: 1.11
* Python version: 3.6.2
* Template pack: bootstrap4

### Description:

I am trying to use the [bootstrap 4 custom checkboxes](https://getbootstrap.com/docs/4.0/components/forms/#custom-forms). I can't find a clear way to do with the crispy templates. What I am doing now is using my custom template `custom_bootstrap_checkbox.html`:
[code]
And then, in

[2017-09-28 14:22] carltongibson commented on #743
This seems like a good user land solution.

I’m not sure how we’d add this exactly. It would need some thinking about. Yes, field.html is a bit complex. A PR might want to restructure things slightly. ...

Any thoughts @zoidbergwill?

[2017-09-28 14:23] carltongibson commented on #743
I don’t really see this as an Issue, since the user land solution is easy enough. Happy to see it closed if we’re not going to do anything about it.

[2017-09-29 10:36] fedelaport commented on #743
Yes, you are right. It's easy enough, but there are several custom elements with the same html structure (file browser, select menu, radios and checkboxes). I think it is good idea to add the templates in a bootstrap4/customs/ folder or something, so users can parse the templates when building the layout.

[2017-09-29 10:36] #743 closed

[2017-09-29 12:19] carltongibson commented on #743
Happy to see PRs improving support! We can always take input, where we might not have capacity to do something without it.

[2017-09-30 13:44] gamesbook opened #744 "Release 1.6.1 does not include bootstrap3/multifield.html template"
* Package version: 1.6.1
* Django version: 1.10
* Python version: 3.5
* Template pack: (Optional)

### Description:

I was trying to use MultiField within a Bootstrap 3 layout but got the TemplateDoesNotExist error:

[code]
which is correct; the template file is not there.

However, this was patched in  issue #428 and the template was available as from May 2016 (see: https://github.com/django-cris

[2017-10-04 16:13] tsa-heroku opened #745 "Submit button philosophy"
Sorry if this is a noob question. If I follow the docs correctly, they suggest I make my forms crispy by doing this in all of my form classes:

    def __init__(self, *args, **kwargs):
        super(ExampleForm, self).__init__(*args, **kwargs)
        self.helper = FormHelper()
        self.helper.add_input(Submit('submit', 'Submit'))

So, I removed a few lines of template boilerplate, and now I'm

[2017-10-05 13:12] DylanYoung opened #746 "Checkbox inputs in CheckBoxSelectMultiple do not render with passed in attrs"
* Package version: 1.5.2
* Django version: 1.8
* Python version: 2.7.14
* Template pack: bootstrap(2)

### Description:
Checkboxes in CheckBoxSelectMultiple do not render with passed in attrs.

In particular, if trying to render outside a form (with a form attribute), data isn't posted as the field isn't bound to the form.

Minimal Example Form: (must be included on a page with a form called "myfo

[2017-10-09 16:35] zfrenchee opened #748 "DOC: How to support input type='range' and other input types?"
I have an `IntegerField` field in my model and a crispy form associated with an UpdateView to update it. The default view for an IntegerField in crispy is an `input type='number'` which is a super sensible default. However, I'd like to use a `range` instead since my `IntegerField` has a min/max validator, and a high min and even higher max, and so `input type='number'` isn't the ideal UI element.

[2017-10-10 03:53] zfrenchee commented on #748
I ended up using `HTML("<input type='range' ...>)`. Oh well...

[2017-10-10 03:53] #748 closed

[2017-10-11 15:38] sunqy1212 opened #749 "How to change the form.form_help.form_action url on click a submit button"
* Package version:1.6.0
* Django version:1.9.5
* Python version:3.5.2
* Template pack: (Optional)

### Description:
Hi,
I have the form.py, views.py and urls.py as follows ,and I want to set the Query_form's form_action by click the button in the form dynamicly and render different views. How can I do that , I have googled and tried many different way and none of them worked out, I need help.
form

[2017-10-11 18:32] carltongibson commented on #745
If you’re worried about repeating yourself, make a base form class.  Otherwise you’re we come to pass a helper to the crispy tag

[2017-10-11 18:32] #745 closed

[2017-10-11 18:35] carltongibson commented on #744
Multi field is documented as being UniForm only. It was never added. See discussion on #428

[2017-10-11 18:35] #744 closed

[2017-10-12 09:55] zoidbergwill commented on #743
Yeah, I had to fiddle a bunch lately to get a pretty file browser too.

And +1 to tidying up `field.html`, it's really scary and complicated.

Maybe we should have a bigger issue to better support some of those elements that aren't supported DCF elements at the moment?

[2017-10-13 13:00] pjmcdermott opened #750 "<label> should not be used for multiple checkbox groups"
* Package version: 1.6.1
* Django version: 1.11
* Python version: 3.5.2
* Template pack: bootstrap3

### Description:

Validation of my form HTML5 at [validator.nu](https://html5.validator.nu/) detected the following issue:

This is in a Bootstrap 3 multiple inline checkbox created using `InlineCheckboxes()`.
[code]

Looking at the HTML output from crispy (some code removed)

[code]

I can see tha

[2017-10-13 13:54] pjmcdermott commented on #750
The following diff on `crispy_forms/templates/bootstrap3/layout/checkboxselectmultiple_inline.html` replaces the `<div>` with a `<fieldset>`, the `<label>` with a `<legend>`, and removes the "for" attribute.

[code]

This fixes the validation errors, but the styling is now different.

I presume something similar would need to be applied to the `checkboxselectmultiple_inline.html` files in the boot

[2017-10-15 13:16] medmatching opened #751 "https://stackoverflow.com/questions/46752120/djang-crispy-forms-with-tabholder-forms-rendering?"
* Package version:
* Django version:
* Python version:
* Template pack: (Optional)

### Description:

// REPLACE ME: What are you trying to get done, what has happened, what went wrong, and what did you expect?

### Preferably also include:

- [ ] Example Django Crispy Forms code
- [ ] Screenshots
- [ ] Actual HTML generated
- [ ] Expected HTML

[2017-10-15 18:50] #751 closed

[2017-10-15 18:55] csoni111 commented on #734
I am new to this project and would like to contribute. As far as I have understood, `django-crispy-forms` does not handle the rendering of the field widget, `django` handles that. Now by default django renders the file widget as given above. So how do go on changing that?

[2017-10-17 10:24] carltongibson commented on #605
I'm going to come down on the yes side. Closing this.

[2017-10-17 10:24] #605 closed

[2017-10-17 10:25] carltongibson commented on #725
There's not enough to reproduce this with.

[2017-10-17 10:25] #725 closed

[2017-10-17 10:26] carltongibson commented on #713
Multifield is [Uniform only](http://django-crispy-forms.readthedocs.io/en/latest/layouts.html#uni-form-layout-objects)

[2017-10-17 10:26] #713 closed

[2017-10-17 10:27] carltongibson commented on #683
I'm going to close this. We'll be dropping <1.11 when we adopt Django 2.0, so it'll drop away.

[2017-10-17 10:27] #683 closed

[2017-10-17 11:47] carltongibson commented on #717
This isn't actionable as it stands. This needs reducing to a simpler case that clearly shows the issue. (Chances are reducing it will show the error lies elsewhere.)

[2017-10-17 11:47] #717 closed

[2017-10-17 11:48] carltongibson commented on #314
I'm going to close this. I'm happy to take a PR on it, but it's not high priority at the moment.

[2017-10-17 11:48] #314 closed

[2017-10-17 11:51] carltongibson commented on #303
This is a Django issue. It pops up everywhere we have a `choices` field.

I guess the solution is to make choices a callable and implement caching there.

If it's an issue it's a Django issue. I'm going to close this here.

[2017-10-17 11:51] #303 closed

[2017-10-17 11:52] carltongibson commented on #441
I'll take a PR on this but I'm going to close it pending such input. It's not priority right now.

[2017-10-17 11:52] #441 closed

[2017-10-17 11:53] #453 closed

[2017-10-17 11:53] carltongibson commented on #326
I'll take a PR for this but closing pending such input.

[2017-10-17 11:53] #326 closed

[2017-10-17 11:54] #426 closed

[2017-10-17 11:56] carltongibson commented on #337
I'm happy to look at a PR on this. Other than that I'm going to close this as stale.

[2017-10-17 11:56] #337 closed

[2017-10-17 12:01] carltongibson commented on #585
I'm happy to look at a PR on this. Otherwise I'm going to close this as stale.

[2017-10-17 12:01] #585 closed

[2017-10-17 12:04] carltongibson commented on #746
I guess this usage is Out of Scope as conceived — rendering the field outside of the form element isn't currently supported.

I'd happy consider a PR around this, but other than that I'm going to close this as  Out of Scope

[2017-10-17 12:04] #746 closed

[2017-10-17 12:07] carltongibson commented on #750
I guess we could look at a PR making this change. Pending that I'm going to close this. Priority now is Django 2.0 and then Bootstrap 4...

[2017-10-17 12:07] #750 closed

[2017-10-17 14:18] carltongibson commented on #742
Version 1.7.0 is now available on PyPI

[2017-10-17 14:18] #742 closed

[2017-10-18 20:21] DylanYoung commented on #746
The use case was an EXAMPLE.  The point is that attrs, which are supposed to attach to the relevant form element, DO NOT attach to the relevant form element.

If you need confirmation that it IS BROKEN, look at how a Django CheckBoxSelectMultiple is rendered natively.

If the fact that attrs passed into fields are SUPPOSED to NOT attach to form elements, please point me to the documentation which

[2017-10-18 20:27] DylanYoung commented on #746
The issue is actually more sever than I've explicitly noted, as you can see in the output above.

Not only do the `attrs` not attach to the `<input>` element, they ARE NOWHERE in the Fields's rendered output: you've just **silently discarded my data** 👎

[2017-10-19 06:38] carltongibson commented on #746
Hey @DylanYoung I'm happy to look at this if you can help pin down exactly where the issue is coming up. (I'd guess it's likely a template issue but...)

[2017-10-19 16:31] yunti commented on #732
Currently for select input I'm seeing the default browser select rather than the bootstrap 4 .custom-select.  The custom-select looks a lot more consistent across browsers so would be a better default but subject to opinion.  If we go with the default way it would be good to have an easy way to override.  I presume currently we would need to override the field template and create a custom version

[2017-10-19 19:16] carltongibson commented on #732
@yunti progress is a bit stalled at the moment. If you want to contribute to get BS4 support finalised that would be very welcome!

[2017-10-20 10:00] dedayoa opened #753 "Field error does not display when using AppendText"
* Package version: 1.7.0
* Django version: 1.11.4
* Python version: 3.6.1
* Template pack: (Optional) Bootstrap4

### Description:
The helper portion of my form is as below...
[code]
When the username field fails validation (and an error is generated), it does not display. In devtools, I see that the style to display the error message does not apply because it has been moved out of being a sibling

[2017-10-20 10:03] carltongibson commented on #753
So `span#error_1_id_username` needs to be inside the `div.input-group`?

BS4 support is a little stalled at the moment. If you could make a PR correcting this it would be great!

[2017-10-20 10:29] dedayoa commented on #753
I see this issue has been reported in the bootstrap issues. https://github.com/twbs/bootstrap/issues/23454

[2017-10-20 10:48] dedayoa commented on #753
Since this is a pending issue on BS4, the below is what I'm using...
`
.input-group ~ .invalid-feedback{
	display: block;
}`

[2017-10-20 11:42] carltongibson commented on #753
OK. Good follow-up. Thanks.

In general I think the BS4 support is close but the are still issues.

If you’re using it, any input you can provide to clean up remaining issues would be very welcome!

I’m going to close this here now. If there’s some things we can actually address I’m happy to reopen.

[2017-10-20 15:40] dedayoa commented on #753
Alright Carlton. That's fine.

On Oct 20, 2017 12:42 PM, "Carlton Gibson" <notifications@github.com> wrote:

[2017-10-24 16:52] zoidbergwill commented on #732
I'm pretty sure we want the bootstrap select. That sounds like a regression.

We only have an example multiselect in the crispy test project but it [looks right](https://crispy-test-project.herokuapp.com/bootstrap4)

[2017-10-24 16:53] zoidbergwill commented on #732
I've been on holiday, but I'm back now. 👋

[2017-10-27 13:07] zoidbergwill commented on #734
So we provide the template that Django uses to render the field widget in [`field.html`](https://sourcegraph.com/github.com/django-crispy-forms/django-crispy-forms@86b2991e2d6fba84e106ea792076aedee97343a4/-/blob/crispy_forms/templates/bootstrap/field.html) for each template pack, and then do special things for things like [radio box selects](https://github.com/django-crispy-forms/django-crispy-for

[2017-11-04 22:55] chapkovski opened #754 "update_attributes with css_class results in adding 'css_class' instead of 'class'"
* Package version: 1.7.0
* Django version: 1.11
* Python version:3.6.1
* Template pack: (Optional)

### Description:
an attempt to update the class using _update_attributes_ results in adding 'css_class' instead of 'class:

[code]

and the result is:

[code]

[2017-11-08 09:52] The-Phi opened #756 "field error"
* Package version:
* Django version:
* Python version:
* Template pack: (Optional)

### Description:

// REPLACE ME: What are you trying to get done, what has happened, what went wrong, and what did you expect?

### Preferably also include:

- [ ] Example Django Crispy Forms code
- [ ] Screenshots
- [ ] Actual HTML generated
- [ ] Expected HTML

[2017-11-08 09:53] #756 closed

[2017-11-17 12:21] yunti commented on #732
Currently I don't see errors working with bs4 beta 2 (or beta) but they do work with alpha 6.
(posting this here rather than a separate issue, but let me know if you would prefer separate).

This example form:
https://gist.github.com/yunti/8c091cd446082eb1208e076594fc2439

Generates this output, which uses bs4 beta 2 and shows missing error:
https://codepen.io/anon/pen/GOOdmM

Same output but with

[2017-11-19 04:59] japrogramer commented on #727
@carltongibson cool, I started testing django 2.0 and aside from the import error for urlresolver, Im also getting an import error for allow_lazy. when Is the new release available? maybe a compat.py file should be included
here is an example
https://github.com/pytest-dev/pytest-django/blob/master/pytest_django_test/compat.py

a quick find shows that this approach is popular

[code]

[2017-11-19 20:08] carltongibson commented on #727
This was fixed in bea8490ba5e6128890e9dc0582215fcdb3b83ea2

[2017-11-19 20:08] #727 closed

[2017-11-28 19:40] luk156 opened #759 "render_crispy_form i18N"
i'm using the function render_crispy_form() but the generate html isn't translated according my language settings, i need to add some code?

[2017-11-28 19:57] luk156 commented on #759
my error sorry

[2017-11-28 19:57] #759 closed

[2017-12-01 01:54] sanojsilva opened #760 "when i use jquery on crispy forms input fields it doesn't work"
* Django version: 1.11
* Python version: 3.6
* Template pack: (bootstrap3)

### Description:

i need to assign the value of qty field and price field to value field on the change event of them
i targeted the id for this using jquery but it doesn't work.
can anyone tell me how to get this working..
thank you

### Preferably also include:

![image](https://user-images.githubusercontent.com/31297777/

[2017-12-01 06:04] #760 closed

[2017-12-18 08:27] bluesurfer opened #762 "AttributeError 'NoneType' object has no attribute 'wrap' when model has a field named template"
* Package version: 1.7.0
* Django version: 1.11.7
* Python version: 3.6.1

Given this `ModelForm` with a `Model` `Foo` having a field named `template`:

[code]
This raises a `AttributeError` when trying to access the field `template`. It seems that crispyforms is looking for the template attribute instead of the field one.

Is this behaviour intended? Or am I doing something wrong?  Thanks.

[2017-12-18 08:50] carltongibson commented on #762
Hi @bluesurfer.

"Intended" probably not. "Expected" yes. 🙂

If you look at the `__getitem__` implementation:

https://github.com/django-crispy-forms/django-crispy-forms/blob/e63d8934afe2fcfc677c459550f1136167497ee3/crispy_forms/helper.py#L79-L114

You'll see it first checks for the relevant attribute on the helper. We've got a `template` and it defaults to `None`:

https://github.com/django-crisp

[2017-12-18 08:50] #762 closed

[2017-12-18 21:47] zoidbergwill commented on #754
Thanks for filing a bug.

Just to clarify, you're doing

[code]

Should it be the following instead?

[code]

I'll take a look at reproducing this tomorrow.

[2017-12-19 07:16] chapkovski commented on #754
no, we can't use word class, because it is a reserved keyword in python (https://docs.python.org/3/reference/lexical_analysis.html)

[2017-12-19 08:03] zoidbergwill commented on #754
What template pack are you using? Or does this affect all template packs?

[2017-12-19 08:35] zoidbergwill commented on #754
I can reproduce it with bootstrap 4.

We use `css_class` as an example in the docs but test it with other attributes being updated.

[2017-12-19 08:38] zoidbergwill commented on #754
This PR should fix them: https://github.com/django-crispy-forms/django-crispy-forms/pull/764

[2018-01-03 03:40] marcosguerrini opened #765 "ModelForm fields are not showed in Django 2.0"
* Package version: 1.7.0
* Django version: 2.0
* Python version: 3.6

### Description:

(Sorry for my bad English)

Crispy form Tags don't work in Django 2.0 {% crispy form %} but if I use {{ form|crispy }} the form is rendered. The problem is that if I don't use the tags I can't use the helpers

### Preferably also include:

- [x] Example Django Crispy Forms code
- [ ] Screenshots
- [ ] Actual HT

[2018-01-15 07:52] zoidbergwill commented on #732
I'm not sure what exactly we need to document other than mentioning we support bootstrap 4 in more places, and that adding `form-horizontal` as a form_class will add `row` classes to make forms work as expected in Bootstrap 4.

[2018-01-15 13:20] zoidbergwill commented on #765
Not saying this is a fix, but instead I've done the following in a `ModelForm`'s `__init__`:

[code]

[2018-01-21 22:54] kouroshparsa opened #767 "KeyError: u"Key u'last_modified' not found in 'MyForm'""
* Package version: 1.7.0
* Django version: 1.8
* Python version: 2.7
* Template pack: (Optional)

### Description:
[code]

I'm getting an error when including any date field:
[code]

### Preferably also include:

- [ ] Example Django Crispy Forms code
- [ ] Screenshots
- [ ] Actual HTML generated
- [ ] Expected HTML

[2018-01-21 22:59] kouroshparsa opened #768 "CKEditorWidget incompatible with crispy forms"
* Package version: 1.7.0
* Django version: 1.8
* Python version: 2.7

### Description:
There is an incompatibility with CKEditorWidget.
When using crispy form tabs with fields that have CKEditorWidget widget, the widget no longer works properly. It looks like a textarea withing a box so the rendering is completely broken.
Note: I am using bootstrap3.

### Preferably also include:

- [ ] Example Dj

[2018-01-24 18:21] specialorange opened #769 "nested-and-segmented-crispy-layouts"
* Package version: 1.7.0
* Django version: 1.11
* Python version: 2.7
* Template pack: (Optional) (unknown)

### Description:

Please see also:
https://stackoverflow.com/questions/48363231/nested-and-segmented-crispy-layouts

Is this something that can be done in Crispy/Django?

TLDR Question: How do you make one crispy form with a ¿segmented?(not sure if this is considered inline) layout with mul

[2018-01-25 17:19] gdvalderrama commented on #704
@zoidbergwill I'm having this same problem using the bootstrap3 template pack.

[2018-01-25 21:45] netvigator opened #770 "row option for Fields is not working"
* Package version:1.6.1
* Django version: 1.11
* Python version: 3.52
* Template pack: (Optional)

### Description:  I set Field('cExcludeIf', rows='2'), but the text box on the page is still 10 lines high.

// REPLACE ME: The text boxes that crispy forms lay out for TextField columns are too tall for my app, they are taking up too much screen space. The user can make them taller if desired by dra

[2018-02-04 22:15] fxer commented on #732
It looks like `input-group-addon` was removed in the final B4 release, and now uses `input-group-append` and `input-group-prepend` instead

https://getbootstrap.com/docs/4.0/components/input-group/

[2018-02-04 22:37] zoidbergwill commented on #732
I've made a PR: https://github.com/django-crispy-forms/django-crispy-forms/pull/771

I will test it in the morning properly though, and test it on crispy-test-project.

[2018-02-04 22:42] fxer commented on #732
Wow that was fast, glancing at the PR there may be some other details to getting those input boxes working as in the alpha releases. Such as the prepend/append `div` now as a new `span` nested under it with the `class=input-group-text` which looks to be required to get the gray background and rounded corners of the input styling now?

[2018-02-05 06:24] zoidbergwill commented on #732
Whoops, crispy-test-project was not using Bootstrap's stable release. Should be all happy now.

[2018-02-19 21:54] Darkskope opened #773 "no crispy tags for Jinja2 template engine"
* Package version: 1.7.0
* Django version: 2.0.2

### Description: Provision default jinja2 template tag implementation

django-crispy-forms does not come bundled out of the box with Jinja2 template tags support. it will greatly improve workflow efficiency if this implementation was provisioned.

I _**need help**_ writing a jinja extension that allows for the use of the crispy form tags

[2018-02-21 07:34] carltongibson commented on #773
Jinja2 is not supported I'm afraid. We could consider a user PR that added Jinja2 support but there are no plans to add it.

(Is there no Jinja2 helper that'll let you render a DTL fragment? — You could write one of those.)

[2018-02-21 07:34] #773 closed

[2018-02-21 18:49] anspangilinan commented on #765
Hi folks,

I encountered the same issue with FormHelper(). The field I wanted to be rendered is declared in Meta.fields but isn't mentioned in the Layout() object which should be fine as [mentioned in the documentation (_see render_unmentioned_fields_)](http://django-crispy-forms.readthedocs.io/en/latest/form_helper.html)

I think in commit [6b93e8a](https://github.com/django-crispy-forms/django-c

[2018-02-23 12:51] stuaxo opened #774 "Is bootstrap4 supported ?"
Hi,
   Bootstrap 4 is out properly now.   Does it work with crispy forms ?    I saw the PR, from a while back - but the documentation on RTD only talks about bootstrap 3.

Cheers
S

[2018-02-23 21:56] cocteau604 commented on #765
Although the title says "Django 2.0", the behavior described by anspangilinan also occurs in Django 1.8.

[2018-02-24 16:10] MikeVelazcoMtz commented on #774
I'm currently using bootstrap 4 and this plugin and I can tell you that works.

Just in your `settings.py` set `CRISPY_TEMPLATE_PACK = 'bootstrap4'`

[2018-02-24 18:06] michaelhjulskov commented on #774
#meeto :) it works okay. i had a little bug/issue with a checbox that was placed outside the form, but i fixed it by removint the checkbox from the form. so maybe there is still some small issues/bugs. Sorry i didnt report that in here.

[2018-02-24 20:35] stuaxo commented on #774
I missed the bit about template packs - it should probably be updated now that bootstrap 4 has left alpha.
Also, all the places where bootstrap 3 is mentioned here -
http://django-crispy-forms.readthedocs.io/en/latest/

probably need updating to mention 4.

[2018-02-25 13:51] paramono opened #775 "layout.Submit and helper.add_input produce different results"
* Package version: dev branch
* Django version: 1.11.6
* Python version: 3.5.2
* Template pack: bootstrap4

### Description:

Not sure if bug or feature. Submit button is rendered differently, depending on whether I add it to layout directly or via helper.add_input.

For example, If I build a form in this way:

[code]

Then submit is rendered with the following html:

[code]

And the form looks li

[2018-03-01 15:28] zoidbergwill commented on #765
Will take a look at this when I get a chance, though if you any of you could provide a PR, I'll happily review it.

[2018-03-05 14:28] #754 closed

[2018-03-05 20:12] carltongibson commented on #732
Version 1.7.1 is available on PyPI now.

[2018-03-05 20:12] #732 closed

[2018-03-05 20:14] carltongibson commented on #774
Version 1.7.1 is available on PyPI now. This finalises the support for BS4. (As ever there may be small issues.)

Yes, docs need updating. Help there in the form of PRs always welcome.

[2018-03-05 20:14] #774 closed

[2018-03-05 20:16] carltongibson commented on #738
I'm going to close this off as is. It's not really actionable for us. If a PR comes in that's great.

[2018-03-05 20:16] #738 closed

[2018-03-05 20:17] carltongibson commented on #661
I'm going to close this off. If someone wants to put in a PR that's great, but short of that it's not a priority

[2018-03-05 20:17] #661 closed

[2018-03-05 20:18] carltongibson commented on #734
I'm going to close this off as is. If a PR comes in helping here that's great.

[2018-03-05 20:18] #734 closed

[2018-03-06 09:29] deanpienaar opened #779 ".invalid-feedback hides entire field"
* Package version: 1.7.1
* Django version: 2.0.2
* Python version: 3.6.2
* Template pack: Bootstrap 4

### Description:

When a field is rendered with errors, the `.invalid-feedback` class is being applied to the entire form-group.

https://github.com/django-crispy-forms/django-crispy-forms/blob/8e5e182c798095600d926370f0f7c8d53c438737/crispy_forms/templates/bootstrap4/field.html#L12

It doesn't s

[2018-03-06 20:07] #779 closed

[2018-03-07 10:25] browniebroke opened #781 "Multicheckboxes HTML IDs breaking change"
* Package version: 1.7.1
* Django version: 1.11.11
* Python version: 3.6.4
* Template pack: (Optional) Bootstrap 3

### Description:

I've upgraded to the latest version of django-crispy-forms and our automated QA scripts started failing because it couldn't find the IDs checkboxes in a multi-select widget.

For instance, a field called ages used to generate ids like this `#id_ages_1`, `#id_ages_2`

[2018-03-07 17:10] browniebroke commented on #781
The `CheckboxesSampleForm` from the test may be used to reproduce the problem.

Current output:

[code]

Expected output:
[code]

[2018-03-08 07:29] dspacejs opened #786 "Add option to automatically populate field placeholders"
Field labels can be disabled with `form_show_labels = False`, but there's no option to automatically populate the placeholders with each label's content.

[There's ways to work around this manually in a DRY-fashion](https://stackoverflow.com/a/23971724/4260047), but I think it'd be best to have this as an option so users don't have to write the functionality themselves. This is especially cumberso

[2018-03-08 14:47] hendrikschneider commented on #779
When do you plan to release this fix with pip? I would like to avoid having the git repository in my requirements.txt file.

[2018-03-08 21:26] ahlan90 opened #787 "BooleanField not working Bootstrap4"
* Package version: 1.7.1
* Django version: 1.11.10
* Python version: 2.7
* Template pack: Bootstrap4

### Description:

Simple BooleanField() not render on my template with bootstrap4, but in "uni_form" working!

[2018-03-09 13:12] #781 closed

[2018-03-09 14:52] carltongibson commented on #779
Version 1.7.2 is on PyPI now.

[2018-03-09 15:00] simonpanay opened #790 ""Delete" label not shown when using bootstrap4 table_inline_formset.html"
* Package version: 1.7 and following at least
* Django version: 1.11
* Python version: 3.5
* Template pack: bootstrap4 (possibly others)

### Description:

When using bootstrap4 "table_inline_formset.html", the "Delete" label is not displayed in the table head.
Which is confusing because "delete" checkboxes are displayed whithout any information for the end user

![capture d ecran de 2018-03-09 15

[2018-03-12 15:12] deanpienaar opened #793 "InlineRadios Is Not Using form-check-inline Class Correctly"
* Package version: 1.7.2
* Django version: 2.0.3
* Python version: 3.6.2
* Template pack: Bootstrap 4

### Description:
The `.form-check-inline` bootstrap class doesn't seem to be being utilised correctly. This is the current format after rendering:

[code]
![](https://puu.sh/zG1yH/72993b8f9a.png)

What would be preferable is something like

[code]
![](https://puu.sh/zG1R9/e7d1c07448.png)

This is

[2018-03-13 14:19] pythoncreate opened #795 "Invalid Filter 'Crispy'"
* Package version: 1.7.2
* Django version: 2.0.3
* Python version: 3.6
* Template pack: (Optional) Bootstrap 4

### Description:

I've followed all the instructions--edited the Settings.py file, loaded the crispy tags at the top of my layout form and edited my form to include the crispy filter.

When i visit my form page it's saying 'invalid filter--crispy'....any ideas?

[2018-03-13 14:23] zoidbergwill commented on #795
Could you show us your `settings.py` and the related pieces of your `template`?

[2018-03-13 14:23] pythoncreate commented on #795
ok, figured this out--i needed to load the tags on the actual form page and not the html layout page...thanks!

[2018-03-13 14:23] #795 closed

[2018-03-14 16:16] brainwane opened #796 "Upgrade Twine?"
* Package version: git master
* Django version: n/a
* Python version: n/a

I'm one of the maintainers of [Twine](http://twine.readthedocs.io/). I see your `requirements.txt` file [specifies version 1.5.0](https://github.com/django-crispy-forms/django-crispy-forms/blob/master/requirements.txt#L3). The new version of Twine is 1.10.0. If there's anything we can do to make your upgrade path easier, pl

[2018-03-14 17:11] carltongibson commented on #796
Hiya @brainwane. Thanks. Yes. This is already done locally. (It's what I'm using to publish the package.) I just forgot to update the requirements.

Fancy opening a PR?

[2018-03-15 14:09] brainwane commented on #796
Thanks, @carltongibson - now that I'm reassured that the new version doesn't break anything for you, I've done so.

[2018-03-15 14:20] #796 closed

[2018-03-15 15:34] Thijss opened #798 "1.7.2 generates strange id_names"
* Package version: 1.7.2
* Django version: 1.11.11
* Python version: 3.5.2
* Template pack: bootstrap4

### Description:

commit 0361cb4c95b4e4370773f505f5f8e1565e946b23 causes crispy_forms to generate id names starting with "id_id_" for checkboxesselectmultiple. Is this intended? Seems off.

see the difference below.

1.7.0
![crispy_1_7_0](https://user-images.githubusercontent.com/13253091/374732

[2018-03-15 15:52] carltongibson commented on #798
Related to #783

[2018-03-16 11:52] michaelhjulskov opened #800 "Check boxes out of line - bootstrap4"
Here's a photo of it.
https://photos.app.goo.gl/upDVdprDouXJuVCq2

bootstrap 4 (bootstrap4)
django-crispy-forms - latest version installed today (-e git://github.com/maraujop/django-crispy-forms.git@dev#egg=django-crispy-forms)
django 1.11

here's my form
https://blib.me/signup/

Here's the related code from the forms.py:
[code]

and from models:
[code]

[2018-03-16 11:57] michaelhjulskov commented on #800
here's my form
https://blib.me/signup/

Here's the related code from the forms.py:
[code]

[2018-03-18 02:29] zfrenchee opened #801 "How is data passed to the template in `Field(X, template="X.html")`?"
* Package version: 1.6.1
* Django version: 1.10.8
* Python version: Python 3.6.4

### Description:

I'm having a hard time rendering a template for a field. Here's a simplified version of my code:
[code]

The docs say:

I'm seeing the template render, but it doesn't seem to be passed the the objects it needs to render properly.

How can I access the models I want to render information about in eac

[2018-03-20 19:27] michaelhjulskov commented on #800
anyone that can tell me if i did something wrong or if it's an issue, thanks

[2018-03-20 20:11] michaelhjulskov commented on #800
for some reason it seems like crispy forms have added the following class to the div that is wrapping the checkbox(es):
offset-lg-6 offset-md-8 offset-sm-8

[2018-03-20 20:30] carltongibson commented on #800
Hi @michaelhjulskov.

Can you look at #794. Is the issue described there for radios the same as you're seeing here for checkboxes?

[2018-03-20 21:13] michaelhjulskov commented on #800
I'm closing the issue.
fixed it with this:
  <script type="text/javascript">
    $(document).ready(function() {
      $("div#div_id_allow_call").parent("div").css("margin-left", "initial");
    });
  </script>

[2018-03-20 21:16] michaelhjulskov commented on #800
Hi @carltongibson sorry I didnt see your comment. Iam not sure, but now I reported it and I am not sure if issue is caused by me or an issue.

[2018-03-20 21:22] carltongibson commented on #800
I'll try and have a look.

[2018-03-21 14:13] ghost opened #802 "Error while using Testforms"
* Package version: 1.7.2
* Django version: 1.11.11
* Python version: 2.7.14
* Template pack: (Optional)

### Description:
While try to run a test form an error shows up.

It seems that a max-length attribute is missing at the tests/forms.py in the class CrispyEmptyChoiceTestModel

Adding a max-length attribute in django-crispy-forms/crispy_forms/tests/forms.py at line 133 solves the issue.

[2018-03-21 15:42] carltongibson commented on #802
Hi @Siron55. Can you show me the traceback for that error please? (The test suite seems to be running OK...)

Fancy opening a PR?

[2018-03-21 15:54] Siron55 commented on #802
ERRORS:
crispy_forms.CrispyEmptyChoiceTestModel.fruit: (fields.E120) CharFields must define a 'max_length' attribute.

[2018-03-21 16:20] carltongibson commented on #802
You see, I'm running the test suite here and not seeing that. So can you post the whole traceback, or otherwise provide some more info?

Thanks.

[2018-03-25 12:46] Thijss opened #803 "make test errrors"
* Package version: 1.7.2
* Django version: 1.11.11
* Python version: 3.6.4
* Template pack: (Optional)

### Description:

I'm trying to write a test for #798, but can't get the test suite to work.
I'm quite new to writing tests so perhaps I'm missing a step, but I'm getting the following error after cloning django-crispy-forms and running "make test" directly afterwards:

`Model class crispy.crisp

[2018-03-25 16:45] pvandegeer commented on #734
I managed to get a bootstrap 4 custom file input by subclassing the field method and providing a custom template:
`
class FileField(Field):
    template = "%s/layout/file_field.html"
`
Put the following template in your apps template folder in bootstrap4/layout/file_field.html (r change the path):
`
{% load crispy_forms_field %}
{% if field.is_hidden %}
    {{ field }}
{% else %}
        <div id="

[2018-03-25 20:22] chris246 opened #804 "Rendering issue with Layout MultiWidgetField"
* Package version: 1.7.2
* Django version: 2.0.3
* Python version: 3.6.0
* Template pack: (Optional) boostrap4

### Description:
In my form, I use `django.forms.widgets.SplitDateTimeWidget` on a `django.forms.ModelForm.SplitDateTimeField`:
[code]
Rendering the form as crispy-form using
[code]
results in this output:
![grafik](https://user-images.githubusercontent.com/14861996/37879425-323584da-307

[2018-03-26 07:25] carltongibson commented on #803
Hi @Thijss.

I'm not seeing that error myself, so I wonder what you're doing, but the error is right: `CrispyTestModel` doesn't declare an app_label.

Try adding [the `Meta` option](https://docs.djangoproject.com/en/2.0/ref/models/options/#app-label):

[code]

It should resolve it. Let me know if not and we'll look more deeply.

[2018-03-26 07:25] #803 closed

[2018-03-27 16:54] hanhanhan opened #805 "row class breaks layout for bootstrap form nested in modal"
* Package version: 1.7.2
* Bootstrap version 4.0.0 stable

The new "row" class being added from 1.7.0 -> 1.7.2:
[<div{% if formactions.attrs %} {{ formactions.flat_attrs|safe }}{% endif %} class="form-group row">](https://github.com/django-crispy-forms/django-crispy-forms/blob/71c75a21639191f52107cc0739518e02b9f670b2/crispy_forms/templates/bootstrap4/layout/formactions.html#L1)

Breaks layout when

[2018-03-29 07:49] esseti opened #806 "Changing template for widget rendering not working"
* Package version:  1.7.2
* Django version: 2.0.3
* Python version: 3.6

### Description:

I'm trying to overide the templates for a widget. While with plain Django it works, with crispy forms it seems to ignore my settings. The new template is ignored.
I've had open a question on SO as well https://stackoverflow.com/questions/49538708/template-widget-in-django-2-0-crispy-form (before figuring out

[2018-03-30 09:55] pvandegeer opened #807 "use of 'disabled' html attribute not documented"
* Package version: 1.7.2
* Template pack: (Bootstrap 3/4)

### Description:

The 'disabled' attribute on bootstrap html input buttons isn't documented. I had to resort to searching the source code to find it is the obvious disabled=True. Would be nice if this was mentioned in the docs.

Not sure if it works at all in other templates, only occurrence of 'disabled' I could find was in the bootstrap

[2018-04-06 07:18] webjunkie opened #810 ".col-form-label gets added also for vertical forms"
* Package version: 1.7.2
* Django version: 2.0.4
* Python version: 3.6
* Template pack: Bootstrap 4

### Description:

`.col-form-label` seems to get added all the time to labels, even though according to the Bootstrap docs, it's only for horizontal forms. It's not a huge issue, just an unnecessary class in the markup. Could become a problem when one puts styles on it, that you don't want in verti

[2018-04-06 18:31] zoidbergwill commented on #806
Hi @esseti

Thanks for your bug report. I'll see if I can reproduce it.

[2018-04-06 18:38] zoidbergwill commented on #806
So I've achieved a similar thing previously doing the following:

[code]

[2018-04-06 18:44] zoidbergwill commented on #806
Would it be possible to make an example project that reproduces this issue? If it's easier, it can be a branch on https://github.com/django-crispy-forms/crispy-test-project

[2018-04-06 18:47] zoidbergwill commented on #805
Whoops, looks like I missed `formactions.html` in https://github.com/zoidbergwill/django-crispy-forms/commit/2baf139e9c125650c996ee5cd5b2af868c7f8941#diff-0f9e2d08d3884dbef59475bf2552fa0e when I changed it to only add `row` to horizontal forms.

[2018-04-06 22:58] maratumba opened #812 "'template' attribute named 'link_template' in Tab Layout object"
* Package version: 1.7.0
* Django version: 1.11.7
* Python version: 3.6.3
* Template pack: bootstrap3

### Description:
I'm not sure this is intentional but made it pretty hard to override the template in for `Tab`. Turns out the template attribute is named `link_template` in the source code:
[code]

As a result, this doesn't work, even if you copy the original template to app dirs.
[code]

[2018-04-07 08:46] zoidbergwill commented on #812
It looks like the template variable is used for the div template not the tab link template. Though overriding the div template should cause strange side effects too.

[2018-04-07 08:55] zoidbergwill commented on #704
This definitely looks like a bug. I think it's because of how we handle the attributes on the helper class. Will see if I can reproduce.

[2018-04-07 10:15] carltongibson commented on #806
This looks to me like an incompatibility between Django's new template based widget rendering and Crispy Form's own rendering, which predates that by _some time_.

* We need to look at levering the Django rendering directly. This would be a biggish overhaul, but worth it for the future.
* For now I think you need to [specify the template at the layout object level](http://django-crispy-forms.readt

[2018-04-08 18:54] esseti commented on #806
I'll try to create the example, but I'm rathere busy this week.
I'll look into suggestion from @carltongibson asap, for time being, since my form is just 1 widget, i solved the situation by not using crispy for that form.

[2018-05-23 00:35] marcosmadr commented on #810
Hey folks, I'll be working on this issue

[2018-05-30 17:39] zulrang opened #817 "UneditableField renders all select options"
* Package version: 1.7.2
* Django version: 1.11.13
* Python version: 3.4.5
* Template pack: bootstrap4

### Description:

UneditableField still renders entire select dropdown with all options.

I have an UneditableField for an associated User to my model, and for both performance and security reasons, I don't want every user to be rendered to the page when all I want is the current value displayed

[2018-06-01 06:28] arindam31 opened #818 "Getting error when using crispy form.as_p"
* Package version: 1.7.2
* Django version: 1.11
* Python version: 2.7.11

### Description:  Was trying to apply crispy form on my form field like {% crispy form.as_p %} when I faced an error . See details below:

[code]

## **# My html:**

[code]
## My form.py:

[code]

[2018-06-01 08:39] jacopsd commented on #787
Was this fixed? Facing the same issue here, boolean field simply does not appear on the form with BS4

[2018-06-01 09:35] ociule opened #819 "bootstrap 4 Appended Text not working as expected for select fields"
* Package version: 1.7.2
* Django version: 1.11.13
* Python version: 3.6.5
* Template pack: bootstrap4

### Description:

When appending a bootstrap.AppendedText to a layout for a select field, I expect to get something like the second example shown here:

https://getbootstrap.com/docs/4.0/components/input-group/#custom-select

This shows bootstrap 4 supports appending text to select inputs.

Inst

[2018-06-01 11:40] ociule commented on #819
There's a patch in pull request #820

There's a patch to cripsy-test-project that allows testing easily:

https://github.com/django-crispy-forms/crispy-test-project/pull/6

Hope this helps

[2018-06-01 13:54] ahlan90 commented on #787
I used Material Pro Lite Template with Bootstrap4 and i fixed overwriting the css file of the template

[2018-06-04 11:01] jacopsd commented on #787
So what was the fix if I may ask?

2018-06-01 15:54 GMT+02:00 Ahlan Guarnier <notifications@github.com>:

[2018-06-04 12:12] carltongibson commented on #787
It looks like there's a bug in the template here. If we can pin that down exactly we could fix it.

[2018-06-04 16:09] zoidbergwill commented on #787
Are you folks using latest master or the latest release? They seem to work on my test project.

Can you send me the HTML you're getting?

[2018-06-06 13:40] ociule commented on #817
This is interesting, but it's missing the code to reproduce.

Can you please post a form that repoduces the issue ? Or better yet, fork and add a branch reproducing the issue to https://github.com/django-crispy-forms/crispy-test-project

Thanks

[2018-06-06 17:01] danizen opened #821 "Please document multiple helpers pattern"
* Package version: 1.7.2
* Django version: 1.11.13
* Python version: 3.5.2
* Template pack: Bootstrap

### Description:

My non-Django developer, coming from coldfusion developed a lot in the template, rendering tabs for all the data in the forms consistent with our look and feel guidelines.  I looked at the formset documentation and figured something out that should be a documented pattern - usin

[2018-06-07 13:50] zulrang commented on #817
https://github.com/zulrang/crispy-test-project/tree/test-uneditable-field

I added an UneditableField to the default form with two choices and an initial.  The select is populated on the page with both options.  This is a problem when there are many options or (as in my initial issue) it is a list of users.

[2018-06-08 08:37] ociule commented on #817
I've looked at the templates (crispy_forms/templates/bootstrap{,3,4}/layout/uneditable_field.html) and this is a regression introduced in the bootstrap3 template. The "bootstrap" without version (I assume 2) template just dumps field.value:

` <span {{ flat_attrs|safe }}>{% if field.value %}{{ field.value }}{% endif %}</span>`

Note that this doesn't create a disabled select, it actually doesn't c

[2018-06-08 10:19] ociule commented on #817
I've implemented a trim_invisible_from_select option in this branch:

https://github.com/ociule/django-crispy-forms/tree/uneditable_trim_invisible_from_select

Can you test it out pls ?

To enable, you just set trim_invisible_from_select=True when creating an UneditableField.

[2018-06-12 17:58] jacopsd commented on #787
django-crispy-forms release 1.7.2, so latest indeed

Generated HTML:

[code]

On screen, only the text and help text is shown, no checkbox.

[2018-06-12 19:17] carltongibson commented on #787
Hi @jacopsd. Thanks for posting the HTML.

I'm afraid it leaves me more confused as to a possible cause here: that HTML is correct. Trying it out leads to the expected result.

Can you open your web inspector, find the `input` element that's not appearing and look at the CSS or JS that's applied to it to see why it's not showing. (If it's there in the source and you disable styles and javascript i

[2018-06-12 19:37] jacopsd commented on #787
You're right.

Found it: my bootstrap4 style.css file says:

[code]

When I remove these lines, the issue is solved. I wonder why these lines are there...

[2018-06-13 05:18] carltongibson commented on #787
The first example from the BS4 forms docs has this for the checkbox:

[code]

The classes are different. I’d guess that’s the source of the errror.

Fancy adjusting the template to see if it works and opening a PR is so?

[2018-06-21 08:54] andytwoods commented on #47
I just battled with this for a bit and ended up using:

`    def __init__(self, *args, **kwargs):

        super().__init__(*args, **kwargs)

        for nam, field in self.fields.items():
            print(field, type(field))
            field.disabled = True`

[2018-06-25 21:52] ebdavison opened #822 "Issues with installing into a django 2.0.1 environment"
* Package version: 1.7.2
* Django version: 2.0.1
* Python version: 3.4.5
* Template pack: (Optional)

### Description:

I am trying to install per the documentation (http://django-crispy-forms.readthedocs.io/en/latest/install.html) into a django 2.0.1 environment.  I am getting an error about django-filer version.

### Preferably also include:

[code]

[2018-06-28 13:44] awgymer opened #823 "update_attributes has no effect on Div elements"
* Package version: 1.7.0
* Django version: 2.0
* Python version: 3.6

### Description:
I have a layout:
[code]
I am trying to dynamically change the CSS class and/or style of the Div.

I have tried:
[code]

However nothing is changed in the div. It still renders as `<div>...</div>`.
After stepping through some of the code I discovered that although the `Div` is getting selected it doesn't have an

[2018-07-03 20:16] danizen opened #824 "Question - controlling classes on fields in empty-form with formset"
* Package version: 1.7.2
* Django version: 1.11.9
* Python version: 3.5.1
* Template pack: bootstrap3
* Template: bootstrap3/table_inline_formset.html

### Description:

I am using jquery select2 plugin on some of my longer select/option groups.  Because this is a formset, I implement an add button.   The form has multiple selects in it, and only the first has enough options that it is worthwhile

[2018-07-03 20:19] danizen commented on #824
This seems related to the fix in #635.   I will override the template and do something there as a temporary work-around.

[2018-07-03 20:20] danizen commented on #821
This is no longer as important to me.   I'm still using django-extra-views, but I've redesigned so that each tab of my edit is a different view, and so the two forms that had multiple views are now different forms on the same model.   Even in a single page form, that might be the way to do it, with prefixes.

[2018-07-03 20:20] #821 closed

[2018-07-03 21:44] danizen commented on #824
Changed my formset helper to use a `table_formset.html` template derived from `bootstrap3/inline_table_formset.html`.   Changed it to include `empty_form_field.html` derived from `bootstrap3/field.html`.   Added some markup for css_classes of the fields:

[code]

The fields in the empty form definitely do not have classes.

[2018-07-20 07:12] sureshvv opened #825 "Unable to use {%% include 'filename.html' %%} inside HTML()"
* Package version: 1.6.1
* Django version: 1.11.12
* Python version: 3.5.0
* Template pack: (Optional)

### Description:

I want to store the HTML in a template file and use the {% include %} statement inside the layout HTML function.

###The error I get:

    django.template.exceptions.TemplateSyntaxError: Invalid block tag on line 1: '%'. Did you forget to register or load this tag?

[2018-07-20 07:46] carltongibson commented on #825
The tag syntax is `{% ... %}` not `{%% ... %%}`.

Hence the `TemplateSyntaxError` on `%`: it's getting as far as `{%%` and error-ing on the second `%`.

[2018-07-20 07:46] #825 closed

[2018-07-20 14:30] charlietw opened #826 "Radio validation errors (Bootstrap 4)"
* Package version: 1.7.2
* Django version: 1.11.14
* Python version: 2.7.13
* Template pack: Bootstrap 4

### Description:

Validation errors on radio select fields don't render at all due to the reshuffling of classes in Bootstrap 4. The form requires an extra parent div with 'form-control' and 'is-invalid' classes after server side validation, as otherwise 'display: none;' will be applied.

I'm

[2018-08-05 19:39] ahlan90 commented on #787
$(document).ready(function() {

      $( ":checkbox" ).each(function( index ) {
          $(this).prependTo($("#div_" + $(this).attr('id')))
        });

     });

[2018-08-10 17:48] CountBigBang opened #829 "Upgrade to Django 2.1 leads to type error during template rendering"
* Package version: 1.7.2
* Django version: 2.1
* Python version: 3.6.3
* Template pack: bootstrap4

### Description:

After upgrading to Django 2.1, an exception is raised when rendering some forms. The exception value is "render() got an unexpected keyword argument 'renderer'". Maybe this has to do with the following change described in the release notes: "Support for Widget.render() methods with

[2018-08-10 18:26] douglance opened #830 "Form is rendering QuerySet string directly to the page."
* Package version: 1.7.2
* Django version: 2.1
* Python version: 3.6.1

### Description:

I have a basic Tag filter:
[code]

With a very basic ModelForm:

[code]

that is rendered with a simple ListView:

[code]

using the most basic template code:

[code]

This results in a very strange bug where the queryset text is rendered directly onto the page after the Fieldset header and before the `title`

[2018-08-10 18:44] carltongibson commented on #829
Hi @CountBigBang. I assume you're on the latest version etc?

Can I ask you to put a breakpoint into `django.forms.boundfield.as_widget` and inspect the type of the `widget` variable there?

Crispy forms doesn't ship any widgets so I'm not sure how the error could come up at first glance.

Also [the test suite is run against Django 2.1 (and master) and is passing](https://travis-ci.org/django-cris

[2018-08-10 19:03] carltongibson commented on #830
Hi @douglance. Yes. Good one. Initial response: 🤔

Next step is to narrow it down. Can we remove the `FilterSet` code? Can we reproduce it just rendering the single `Layout` object?

[2018-08-10 19:08] CountBigBang commented on #829
Hi @carltongibson,

thanks very much for the hint. The exception is raised with a ModelSelect2 widget that I use quite heavily in combination with the django-autocomplete-light package. I will look into this.

[2018-08-10 19:20] CountBigBang commented on #829
Hi @carltongibson,
this issue with django-autocomplete-light and Django 2.1 is already documented: [https://github.com/yourlabs/django-autocomplete-light/issues/1026](url). I must have overlooked this when searching for the exception message.

[2018-08-10 19:20] #829 closed

[2018-08-10 19:34] douglance commented on #830
Thanks for the quick response!

[code]
Results in:

![screen shot 2018-08-10 at 3 33 29 pm](https://user-images.githubusercontent.com/4741454/43977663-c863d88a-9cb2-11e8-878a-59dd6ca0b8cf.png)

[2018-08-10 19:38] douglance commented on #830
[code]

and

[code]

Gets the same results:
![screen shot 2018-08-10 at 3 38 18 pm](https://user-images.githubusercontent.com/4741454/43977907-7f196540-9cb3-11e8-9361-744795138eb3.png)

[2018-08-11 07:28] carltongibson commented on #830
Not exactly, but `tag` **is** used as a context variable:

https://github.com/django-crispy-forms/django-crispy-forms/blob/71c75a21639191f52107cc0739518e02b9f670b2/crispy_forms/templates/bootstrap/field.html#L6

If you've got a `tag` (QuerySet?) in your context that could explain the result.

[2018-08-11 13:40] douglance commented on #830
I'm using bootstrap4

Here's from the context:

` 'tag': '<<queryset of activity.Tag>>',`

Which is what I would expect because it's a generic CBV. Setting `context['tag'] = ''` in my view fixed the issue, so that seems to be the culprit. It's a naming conflict.

I'm interested to hear your thoughts regarding the best solution for that.

Thanks for helping me! I really appreciate your work on this

[2018-08-21 03:26] federicobond opened #831 "SplitDateTimeWidget not rendered with correct bootstrap3 styles"
* Package version: 1.7.2
* Django version: 2.1
* Python version: 3.6
* Template pack: bootstrap3

### Description:

Fields with SplitDateTimeWidget are not rendered correctly in the bootstrap3 template pack. They should use the default bootstrap classes for such inputs.

##### Screenshot

<img width="633" alt="captura de pantalla 2018-08-21 a la s 00 24 15" src="https://user-images.githubuserconte

[2018-08-21 08:41] carltongibson commented on #831
Hi @federicobond. Can you track down the template that's at fault, and provide the correct HTML?

[2018-08-21 13:42] federicobond commented on #831
Hi @carltongibson, I have managed to track it down to this changeset: https://github.com/django-crispy-forms/django-crispy-forms/pull/561.

A SplitDateTimeWidget is a multifield but we still want to apply the `form-control` class to the individual component, so perhaps we need to be more selective in the exclusion there. The original issue mentions that we should not apply `form-control` to checkb

[2018-08-22 07:35] carltongibson commented on #831
OK, good work. Very for you to propose a fix here!

[2018-08-22 20:09] carltongibson commented on #831
Well how about you open a PR correcting the test cases, so they show the correct behaviour?

That will show us the errors, then we can fix them in the same PR.

Thanks for the input!

[2018-08-22 20:53] federicobond commented on #831
@carltongibson Is there a case where we actually want to preserve the current behavior? If so, what would that case be? Absent that, I can only resort to revert #694 in full.

[2018-08-24 19:25] mpdehaan commented on #623
While not a Crispy Forms issue, it prevents use of tabs in Crispy Forms in chrome for submitting one object broken into multiple tabs.  A workaround would be awesome for those of  us who don't know how to do it in Javascript.

Thoughts on workarounds?  A form submit for every tab feels like a bad user experience.

Thanks!

[2018-08-24 19:33] mpdehaan commented on #623
I fixed this by doing the following on load:

    $("#editForm").attr('novalidate', 'novalidate');

Thanks to Stackoverflow, it will now switch forms.  I have only tested this in Chrome but validation works for me!

[2018-08-30 07:37] Serafiniert commented on #774
Then you might want to update the github landing page.

[2018-09-04 07:39] xarala221 commented on #774
Hi Friend this is a good tutorial using django crispy forms and Bootstrap4.

https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html

[2018-09-13 18:35] jlariza commented on #831
Hi! I am having the same issue when a Select is added to a MultiWidget class. It used to work with 1.6.0 version but now I am using 1.7.2 version and the error appears.

I am using `as_crispy_field` to render the widget. Is it possible to set the form-control class using this template tag?

Thank you!

[2018-09-18 16:19] chuan137 opened #832 "Bootstrap4 Form with helper doesn't display error in inline"
* Package version: 1.7.2
* Django version: 2.1.1
* Python version: 3.7
* Template pack: bootstrap4

### Description:

 Expect the error (validation) message is displayed in bootstrap inline style, but the native browser style is used. It looks like the template is broken somewhere.

### Preferably also include:

- [x] Example Django Crispy Forms code
- [x] Screenshots
- [ ] Actual HTML generated
-

[2018-09-20 09:19] chuan137 commented on #832
The solution is to disable the client validation (by using novalidate in the form tag). I don't know how it is different with the as_crispy_field tag.

[2018-09-23 08:47] davidszotten opened #833 "is django 1.10 still supported by crispy-forms?"
the readme implies it is, though not the tox config

(1.10 of django itself is no longer supported)

if we're dropping 1.10, all supported django versions now use template based widget rendering which might enable some code cleanup

[2018-09-23 11:13] carltongibson commented on #833
It'll still work, but No, we're not running the tests. (Would happily merge a PR on the README.)

Moving to using Django's native template rendering is a definite Yes. I have preliminary thoughts on it, but little time to push it forwards. Basically it would be the basis of a Crispy Forms 2.0.

(Possible Step 1: have render_field take a field instance and defer to that if given...)

If you fancy h

[2018-09-23 14:17] davidszotten commented on #833
hi. not sure i'll have time for large refactorings but had a smaller bugfix that's easier with 1.11+

[2018-09-23 14:40] davidszotten commented on #833
ah, had missed that we still support 1.8. are we happy to drop that now that it's out of even extended support?

[2018-09-24 08:02] carltongibson commented on #833
This is the latest support as I see it:

https://github.com/django-crispy-forms/django-crispy-forms/blob/f4b2cb552e1466b35d7366bc319657b32b74c90c/tox.ini#L3-L6

[2018-09-24 08:18] davidszotten commented on #833
great, thanks for clarifying. (and apologies if i was confused by looking at an old master)

[2018-09-24 08:18] #833 closed

[2018-09-25 17:51] robsdedude opened #834 "FormHelper.field_template does not work with template packs"
* Package version: 1.7.2
* Django version: 2.0.4
* Python version: 3.5.2
* Template pack: 'bootstrap4' and 'bootstrap'

### Description:

I want to use the bootstrap template pack but overwrite the `field.html` template for customization (i.e. I want to hide the required asterisk only for select fields). However, setting the FormHelper's field_template attribute to "my_app/field.html" does not wor

[2018-10-02 21:11] zoidbergwill commented on #819
Hey, @ociule

Thanks for your contributions!

Sorry, I've recently started a new job and moved countries, so I've been neglecting my responsibilities on this project. Taking a look.

[2018-10-02 21:13] #819 closed

[2018-10-02 21:19] zoidbergwill commented on #834
I think supporting a custom `field_template` is a great idea, and expected behaviour, so I'd rather we fix that, instead of documenting the lack of support for it.

Would you be keen to contribute that?

I'd be happy to make a PR, or help you make one.

[2018-10-02 21:29] zoidbergwill commented on #812
I'm gonna consider this working as intended, let me know if you think we should change something in the library for this though.

[2018-10-02 21:29] #812 closed

[2018-10-02 21:31] zoidbergwill commented on #817
Your implementation sounds sane to me, @ociule. Thanks for helping out.

[2018-10-02 21:32] zoidbergwill commented on #818
Hey @arindam31

Did you manage to figure out what was happening?

I'm struggling to see any obvious issue.

[2018-10-02 21:36] zoidbergwill commented on #822
Hey @ebdavison

Thanks for the issue.

Did you manage to figure this out?

I double-checked, but we don't require django-filer anywhere, which would explain this issue, so I'm not sure what'd cause it.

[2018-10-02 21:39] zoidbergwill commented on #830
Hey @douglance

Thanks for this interesting issue. Not sure how we could best prefix or better namespace the Django Crispy Forms variables. Potentially we could put the Django Crispy Forms context all under its own key.

[2018-10-02 21:40] zoidbergwill commented on #831
@federicobond Would it be possible to make a PR to revert the changes but keep the test cases, so we could fix them?

Also contributing some examples to [crispy-test-project](https://github.com/django-crispy-forms/crispy-test-project) could be valuable.

[2018-10-03 08:01] zoidbergwill commented on #831
So we could try do this in a backwards compatible way by putting everything in the context where it's now, and additionally putting them all in a `crispy_forms` key in the context additionally.

[2018-10-03 09:28] arindam31 commented on #818
@zoidbergwill So this is what I ended up doing.

My HTML:
[code]

My Form.py:

[code]

[2018-10-03 09:53] zoidbergwill commented on #626
The main example is https://github.com/acidjunk/crispy-forms-semanticUI-templates, though it hasn't been updated in a while.

[2018-10-03 15:45] robsdedude commented on #834
This is weird. Looking through the tests I found `test_form_helper.test_helper_custom_field_template` which should fail but it doesn't.

[2018-10-03 16:11] robsdedude commented on #834
Ok, I got it. It only fails if not layout is given explicitly.

[2018-10-04 10:03] #834 closed

[2018-10-06 13:26] sant527 opened #837 "how to show initial value along with the label"
I want the form label and the initial value to be shown

eg:

Ingredient*( carrot )
_______________

`Div('ingredient', css_class='clearfix')`

is it possible.

because i am using select jquery plugin and sometimes its difficult to know whats the initial value is

[2018-10-09 13:46] robsdedude opened #838 "CrispyFieldNode has side-effects"
* Package version: 1.7.2
* Django version: 2.0.4
* Python version: 3.5
* Template pack: bootstrap4 (should also break with any other)

### Description:
The Problem: `CrispyFieldNode.render` changes the `attrs` dictionary of widgets.
How I noticed: When editing a form and entering an invalid value the input gets the css class `is-invalid`. So far so good. If you now reload the form (or leave and re

[2018-10-09 14:33] robsdedude commented on #838
Nevermind. I found the mistake and it was my fault. I reused the form field objects. I guess one shouldn't do that.

[2018-10-09 14:33] #838 closed

[2018-10-12 12:37] ypapouin opened #839 "Missing documentation reference about {{formset_form}}"
In current documentation version, there is no example or API reference about the {{formset_form}} variable available in layout to get access to the current form instance (like the {{forloop}} simulator is).
To my mind, it should be included.

https://github.com/django-crispy-forms/django-crispy-forms/search?q=formset_form&unscoped_q=formset_form

[2018-11-01 06:04] piehei commented on #826
This same problem applies to checkboxes which are produced by using BooleanFields in a form. The parent div should render with an is-invalid class but it doesn't. For that reason the inline error message doesn't display at all since it's got the display:none from BS4.

[2018-11-15 09:38] Brandhor opened #840 "update tabholder template for bootstrap4"
* Package version: 1.7.2
* Template pack: bootstrap4

### Description:

bootstrap4/layout/tab.html should use card-body instead of panel-body

[2018-11-15 09:44] carltongibson commented on #840
OK — can you make a PR with that change?

[2018-11-15 10:21] #840 closed

[2018-11-27 08:10] moguzalp opened #843 "Field's template and wrapper_class parameters are not rendered for as_crispy_field"
* Package version: 1.7.2
* Django version: 1.11
* Python version: 2.7.14
* Template pack: (Optional)

I am developing google appengine project with django crispy form and this is my form class:

[code]

In my template html:

[code]
wrapper_class and template parameters are not rendered for `as_crispy_field` but for `{% crispy form%}`

Related SO [Q&A](https://stackoverflow.com/q/53477261/492258)

[2018-12-21 15:46] keto commented on #826
I also noticed this kind of issue with checkbox. It looks like BS4 expects that the label and the invalid-feedback are siblings of the input.

`.form-check-input.is-invalid~.invalid-feedback` has `display: block` and `.form-check-input.is-invalid~.form-check-label` has `color: #dc3545` (red)

[2018-12-24 09:15] n1arash opened #845 "Django Crispy Form Not Show Django-Multislelectfield Required Error"
* Package version: 1.7.2
* Django version: 2.0
* Python version: 3.6.5
* Template pack: (bootstrap4)

### Description:

I have a Crispy Form and a simple CreateView that have some fields.
all field validations work correctly but crispy form does not show validation errors raised by Django-Multiselectfield I can see errors in the template with `{{ form.errors }}` that returns:

[code]
MyForm Code:

[2018-12-29 05:05] jcass77 commented on #552
Apologies for hijacking an old issue.

I've been thinking about this for a while and wonder if we should not consider the two issues separately:

1. setting a field to 'required' - as @carltongibson rightly points out, this should be done at the Django level.

2. rendering the required fields on screen using the browser-supported HTML5 UI elements.

Enough time has probably gone by that we can rec

[2019-01-06 07:08] dwasyl commented on #804
This issue presents itself when using a few other packages (i.e. `django-money` or `django-phone-field`), in both cases (like the above) `MultiWidgetField` is used to combine two other fields - in this case two `forms.TextInput` widgets.

The template (at least in the case of `django-phone-field` is a simple:
```{% spaceless %}{% for widget in widget.subwidgets %}{% include widget.template_name %}

[2019-01-07 10:01] Summer88 opened #846 "Layout with foundation theme"
* Package version:
crispy-forms-foundation==0.7.0
django-crispy-forms==1.7.2

* Django version:
 2.1.4
* Python version:
3.5
* Template pack: 'foundation'

### Description:
To actually make the layout with 'foundation' theme package I've replace the first line in init:

`lib/python3.7/site-packages/crispy_forms/layout.py`
[code]

Without this edit always a large-12 seems to be apllied to fields in

[2019-01-08 18:06] uri-rodberg opened #848 "Upgrading from 1.6.1 to 1.7.* - forms don't work"
* Package version: 1.7.2 (or 1.7.0 or 1.7.1)
* Django version: 1.11.16
* Python version: 3.5.2
* Template pack: (Optional)

### Description:

- We upgraded [Speedy Net](https://github.com/speedy-net/speedy-net) from `django-crispy-forms==1.6.1` to `django-crispy-forms==1.7.2`

- We didn't expect anything to change.

- Our contact form stopped working in all 4 websites.

### Preferably also include

[2019-01-09 16:14] mostafagafer commented on #848
I having the same issue , and I asked it on https://stackoverflow.com/questions/54101476/crispy-forms-and-bootstrap-styles?noredirect=1#comment95058861_54101476 and I hope any one could help me with it

[2019-01-09 16:37] uri-rodberg commented on #848
Which versions of django-crispy-forms did you try using and did it work with any of them?

[2019-01-09 16:43] uri-rodberg commented on #848
It's a change in django-crispy-forms and not in our code. Our same code works with `django-crispy-forms==1.6.1` and doesn't work with `django-crispy-forms==1.7.0` to `1.7.2`. But if you're asking about a particular change in django-crispy-forms, I don't know. I noticed it's a year difference between the releases of 1.6.1 and 1.7.0 (which is already more than a year old). You probably had many chan

[2019-01-09 17:14] carltongibson commented on #848
If you can put it in a test case we (you?) can use `git bisect` to find the commit that introduced the regression.

Very happy to look at it, but need a failing example...

[2019-01-09 17:32] mostafagafer commented on #848
I've just instaleed it today, by pip install --upgrade django-crispy-forms
i belive it is 1.7.2

[2019-01-09 17:38] uri-rodberg commented on #848
I created a test that checks it - you can see it on https://github.com/speedy-net/speedy-net/blob/uri_merge_with_master_2019-01-08_a/speedy/core/feedback/tests/test_views.py. If you run tests with `django-crispy-forms==1.6.1` all the feedback tests pass. If you run tests with `django-crispy-forms==1.7.2`, 6 feedback tests fail on the same line - lines 44 and 45 on this file will fail. But lines 87

[2019-01-09 17:39] uri-rodberg commented on #848
Check with 1.6.1 and let me know if it works. I'm not sure it's related to the same issue I posted.

[2019-01-09 18:01] mostafagafer commented on #848
it gives me error in th cmd :

[2019-01-09 18:04] mostafagafer commented on #848
and if I imported :
`from crispy_forms.helper import FormHelper
`

[2019-01-09 18:17] uri-rodberg commented on #848
@mostafagafer Why do you think it's related to this issue?

[2019-01-09 18:22] carltongibson commented on #848
@uri-rodberg. Can you clone the repo then `pip install -e .` into (a copy of) your project virtualenv.

Checkout a failing commit then run `git bisect` to identify where the change was introduced.

Here's the top google hit for "Django git bisect". It looks good: https://alexlouden.com/posts/2016-git-bisect-django-unit-tests/

[2019-01-09 18:40] carltongibson commented on #848
@mostafagafer The line causing your error was changed in #681 and was part of v1.7. Your issue is unrelated to the current topic. I advise you run `pip freeze` to check the installed version. (You need Django 1.11 or lower to use Crispy forms 1.6.x.)

[2019-01-09 19:09] uri-rodberg commented on #848
`pip install -e .` Doesn't work for me, I get an error message. Where is it documented?

[2019-01-09 19:18] carltongibson commented on #848
http://pip.pypa.io/en/stable/reference/pip_install/

[2019-01-09 19:39] uri-rodberg commented on #848
OK, I didn't understand you want me to clone your repository.

I did it and got the following output:

ImportError: cannot import name 'memoize'
6b93e8a362422db8fe54aa731319c7cbc39990ba is the first bad commit
commit 6b93e8a362422db8fe54aa731319c7cbc39990ba
Author: Greg Hinch <greg@greghinch.com>
Date:   Tue Jan 20 10:22:32 2015 +0000

    We should still respect the configuration of the Helper ob

[2019-01-09 21:56] uri-rodberg commented on #848
OK, I think there is a bug with `git bisect`. I ran this manually and found these results:

Commit 23e4c6347bdd72f94ebe4dc57b28a255b94b1e29 - everything is working.

Commit 20bf63b96f9301e200fd1500cd078249ab2cdcf2 - not working.

I think all commits after 20bf63b96f9301e200fd1500cd078249ab2cdcf2 are not working, and all commits before 23e4c6347bdd72f94ebe4dc57b28a255b94b1e29 are working.

I hope t

[2019-01-09 22:08] uri-rodberg commented on #848
I found out what I can change to make this work:

[code]

If I change the 2 ifs to True then it works.

Did I miss anything in the settings?

[2019-01-10 13:03] uri-rodberg commented on #848
I checked your code and the following if (lines 342 to 348 in `crispy_forms/helper.py`):

[code]

It looks to me that it's not necessary since the fields in `class Meta` should always be rendered.

You can see our code on https://github.com/speedy-net/speedy-net/blob/uri_merge_with_master_2019-01-08_a/speedy/core/feedback/forms.py and the fields defined in `class Meta` are `('sender_name', 'sender

[2019-01-16 08:04] carltongibson commented on #848
I'm trying to understand why the issue arrises. From there we can decide if it's a bug or expected behaviour, and fix it accordingly (either in your project code or here).

Why the issue doesn't occur when the user is logged in is strange. So what's going on there? (If we can explain that then we'll have our answer I think.)

[2019-01-16 11:37] uri-rodberg commented on #848
@carltongibson Thanks for the explanation. I don't know the reason, but you can see from the tests with 1.7.2 [[https://travis-ci.org/speedy-net/speedy-net/builds/477460938](https://travis-ci.org/speedy-net/speedy-net/builds/477460938)], that `test_visitor_can_see_feedback_form` failed and `test_user_can_see_feedback_form` didn't fail. With 1.6.1 [[https://travis-ci.org/speedy-net/speedy-net/build

[2019-01-16 18:14] uri-rodberg commented on #848
Maybe the difference is in the following code:

[code]

https://github.com/speedy-net/speedy-net/blob/staging/speedy/core/feedback/forms.py

[2019-01-17 15:11] xmztools opened #849 "How do you set the id of a Submit button? It doesn't seem to work"
* Package version: 1.7.2
* Django version: 2.1.3
* Python version: 3.6.1
* Template pack: (bootstrap4)

### Description:

I'm just trying to set the id of a submit button added to a Layout, but I haven't been able to figure out how to do this. The reason I need to set the id is because I have two forms on the page, but they always have the same id ("submit-id-submit").

Here's the code I'm working

[2019-01-24 08:43] aaksarin opened #850 "Mixed HTTPS and HTTP content on https://django-crispy-forms.readthedocs.io/en/latest/"
* Package version: latest

### Description:
Website with documentation [django-crispy-forms.readthedocs.io](django-crispy-forms.readthedocs.io) trying to load mixed content from HTTP and HTTPS sources at the same time. Mixed content blocked by default in at least in Chrome browser. Because of that users don't see Github Star button and flattr buttons.

[2019-01-24 09:56] zoidbergwill commented on #850
Thanks for the report, @aaksarin.

I'll take a look, thanks. 🙏

[2019-01-28 02:28] Boreas514 opened #852 "TypeError: render() got an unexpected keyword argument 'renderer'"
* Package version:1.7.2
* Django version:2.1.5
* Python version:3.6.8

### Description:

The project is a simple blog, I use a django admin package called xadmin. when I access xadmin's add blog view I got a type error.
The console showed this:
[code]
Django debug showed this:
Error during template rendering
In template E:\py-3.6.8\lib\site-packages\crispy_forms\templates\bootstrap3\field.html, er

[2019-01-28 08:20] carltongibson commented on #852
Likely `xadmin` is using a custom field/widget that needs updating for Django 2.0. (`renderer` argument is required.) You need to follow up there.

[2019-01-28 08:20] #852 closed

[2019-01-29 13:35] uri-rodberg commented on #848
@carltongibson Any comments? Is it a bug in django-crispy-forms or is it the expected behavior? Did we do something wrong in Speedy Net in the way we used django-crispy-forms?

[2019-01-29 13:49] carltongibson commented on #848
Sorry @uri-rodberg, still not at all sure why it's working with an authenticated user and not without?

We don't really have time to dig through the Speedy Net code to see what's going on there.

If you can reduce it to a minimal example it would be possible to comment. Ideally you'd present a minimal unit test showing behaviour that you expect to work but is not.

[2019-01-29 13:59] uri-rodberg commented on #848
@carltongibson `class FeedbackForm` linked above at https://github.com/speedy-net/speedy-net/blob/staging/speedy/core/feedback/forms.py is a minimal example. I think what causes the code to fail is the code I wrote above:

[code]

This is the main difference between the feedback form for an authenticated user and the feedback form for a non-authenticated user.

Notice we have `fields` defined in `

[2019-01-29 14:39] uri-rodberg commented on #848
OK, I confirmed with a commit now that if you comment these lines the tests pass and the form contains all the fields we want, but the HTML design is not what we want (because these lines sets the HTML design we want). You can see https://travis-ci.org/speedy-net/speedy-net/builds/485932345 and https://github.com/speedy-net/speedy-net/blob/uri_merge_with_master_2019-01-08_b_copy_with_django-crispy

[2019-01-29 15:21] carltongibson commented on #848
A minimal example is one using just Django + Crispy Forms. Preferably it would be in the form of a PR including a test case to the project. Failing that a minimal project based on `django-admin startproject` just adding the forms needed.

In particular the `ModelFormWithDefaults` isn't something we can take responsibility for.

I'm happy to look at a minimal example but we simply don't have the ca

[2019-01-30 08:47] carltongibson commented on #848
OK, glad you found a workaround. I'm going to close pending a reproduce. If you come up with one, happy to reopen then.

[2019-02-05 10:44] charlietw commented on #826
Fixed in #794

[2019-02-05 10:44] #826 closed

[2019-02-05 22:01] iwalucas opened #853 "render_crispy_form fails when used as tag"
* Package version:1.7.2
* Django version:2.1.5
* Python version:3.6
* Template pack: (Optional)

### Description:

I created a simple tag to render a form for me:
[code]
But when I use the tag on my template, I got the followin error:

Full stack trace:

[2019-02-06 11:47] ShuklaMadhur opened #854 "Form helper in the template"
Hi

I am using a library for account management. Whenever the library throws an exception, the errors are not rendered well (Please find the snapshot attached ) For this I was looking to render the errors myself therefore I wanted to know how I can set the form_show_errors helper attribute to False directly in the form template without having to write a view to do it.

Thanks for your help.

Regar

[2019-02-11 23:36] zugspitze opened #856 "DateTime Widget doesn't work for all locale"
* Package version: 1.6.1
* Django version: 1.11.4
* Python version: 3.6
* Template pack: (Optional)

### Description:

I have an form for organizing an event. One of the fields in the form is `datetime` field. When I try to organize an event with `es-us` locale, I get the error that date is not valid.
<img width="637" alt="screen shot 2019-02-11 at 21 13 28" src="https://user-images.githubusercont

[2019-02-18 20:25] madneon opened #857 "Replace "row" with Bootstrap's "form-row"?"
Shouldn't this:
https://github.com/django-crispy-forms/django-crispy-forms/blob/cd476927a756133c667c199bb12120f877bf6b7e/crispy_forms/layout.py#L375

be rather:
`self.css_class = 'formRow' if get_template_pack() == 'uni_form' else 'form-row'`

.. to support [Bootstrap's form-row](https://getbootstrap.com/docs/4.3/components/forms/#form-row)?

[2019-02-19 10:52] hmarlo commented on #734
Hey! I think that here is proper place to put this, even if its closed.

The template at `crispy_forms/templates/bootstrap4/layouts/field_file.html`, has this content on the branch `master`:

[code]

Which is great, but needs `{% include 'bootstrap4/layout/help_text_and_errors.html' %}` at the end to show the errors. So it will become:

[code]

I checked the `dev` branch and this file doesn't exis

[2019-02-19 11:14] hmarlo opened #858 "Cleareable file input with file loaded CSS problem"
* Package version: `master` branch from GitHub repository
* Django version: 2.1
* Python version: 3.7
* Template pack: bootstrap4

### Description:
I'm working with *cleareable* file inputs and while the look of the input is great, when a file is loaded and can be cleared, is not looking that great.

This is the HTML code:

[code]

This is how it looks:
![image](https://user-images.githubuserconte

[2019-02-19 11:31] hmarlo commented on #858
This is not a problem of django-crispy-forms, sorry didn't thought about it until now. I close this and put the issue on the bootstrap project.

Thanks!

[2019-02-19 11:31] #858 closed

[2019-02-21 10:54] goromachine commented on #787
Hi, I'm issuing this problem too, and the JS that @ahlan90 proposed didn't worked for me. There is any way to have this fixed on the next version?
I know I could do a PR for that, but I don't know how to solve it.

Thank you

[2019-02-23 00:51] LiamK commented on #787
I just ran into this to.

[2019-02-25 01:50] nickperkins commented on #857
You can use both in forms. `form-row` reduces the gutters.

[2019-02-25 19:48] LinZhang1004 opened #859 "How to display validation error message for FileField?"
* Package version:1.7.2
* Django version:2.1
* Python version:3.7
* Template pack: Bootstrap4

I have a FileField in my model and I implemented Django's FileExtensionValidator, as well as my own custom field validator to check the file size. It works, but crispy-forms doesn't display error message when these validations fail.

Model
[code]
Form

[code]
Template

[code]
View

[code]

When trying to

[2019-02-28 12:13] JohanHolman opened #860 "Please support bootstrap4, form-control, is-valid"
* Package version: 1.7.2
* Django version: 2.1.2
* Python version: 3.6.5

When a form is send to the server it validates it returns css_class += ' is-invalid' for the validation failures but what a about the support of "is-valid" for the parts that are valid? Is that possible?

[2019-02-28 13:22] JohanHolman commented on #860
I want to have the same result as seen on https://getbootstrap.com/docs/4.0/components/forms/#server-side